{% extends 'layout/base.html' %}
{% load widget_tweaks static custom_tags %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Смены</h4>
                        <span>Мониторинг сотрудников</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'duty' %}">Смены</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Директора</h4>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                                    data-target="#basicModal">
                                Добавить
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="basicModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Добавить сотрудника</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>

                                        <form action="{% url 'duty' %}" method="post">
                                            {% csrf_token %}

                                            <div class="modal-body">
                                                <div class="row" id="products_modal">
                                                    {% for f in form %}
                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            {{ f.label_tag }}
                                                            {{ f|add_class:'form-control' }}
                                                        </div>
                                                    {% endfor %}
                                                    {#                                                    <div class="col-md-12 text-left text-dark mt-4">#}
                                                    {#                                                        <label for="cash_id">Касса</label>#}
                                                    {#                                                        <select name="cash" id="cash_id" class="form-control">#}
                                                    {#                                                            <option value="">---------</option>#}
                                                    {#                                                            {% for cash in cashes %}#}
                                                    {#                                                                <option value="{{ cash.id }}">Касса#}
                                                    {#                                                                    № {{ cash.id }}</option>#}
                                                    {#                                                            {% endfor %}#}
                                                    {#                                                        </select>#}
                                                    {#                                                    </div>#}
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary"
                                                        onclick="this.form.submit()">
                                                    Сохранить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <table class="table table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th><strong>Имя</strong></th>
                                    <th><strong>Фамилия</strong></th>
                                    <th><strong>Имя пользователя</strong></th>
                                    <th><strong>Номер телефона</strong></th>
                                    <th><strong>Действие</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in directors %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>{{ user.first_name }}
                                        </td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.phone_number }}</td>
                                        <td style="width: 300px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#basicModal_1_{{ forloop.counter }}">
                                                        Удалить <i class="fa fa-trash-o"></i>
                                                    </button>
                                                    <!-- Modal -->
                                                    <form action="{{ request.path }}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="delete" value="yes">
                                                        <input type="hidden" name="id" value="{{ user.id }}">
                                                        <div class="modal fade" id="basicModal_1_{{ forloop.counter }}">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Удаление</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h1>Вы уверены что хотите удалить пользователя
                                                                            ?</h1>
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <button type="button" class="btn btn-success"
                                                                                data-dismiss="modal">
                                                                            <span>Отмена</span>
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <span>Удалить</span>
                                                                        </button>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#basicModal{{ user.id }}">Изменить &nbsp;
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <!-- Modal -->

                                                    <div class="modal fade" id="basicModal{{ user.id }}">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Изменить</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                                        <span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <form action="{% url 'duty' %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="id"
                                                                           value="{{ user.id }}">
                                                                    <input type="hidden" name="update" value="yes">
                                                                    <div class="modal-body">
                                                                        <div class="row">

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_first_name{{ user.id }}">Имя:</label>
                                                                                <input type="text" name="first_name"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       value="{{ user.first_name }}"
                                                                                       required=""
                                                                                       id="id_first_name{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_last_name{{ user.id }}">Фамилия:</label>
                                                                                <input type="text" name="last_name"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       value="{{ user.last_name }}"
                                                                                       required=""
                                                                                       id="id_last_name{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_username{{ user.id }}">Имя
                                                                                    пользователя:</label>
                                                                                <input type="text" name="username"
                                                                                       maxlength="255" autofocus=""
                                                                                       class="form-control"
                                                                                       required=""
                                                                                       value="{{ user.username }}"
                                                                                       id="id_username{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_phone_number{{ user.id }}">Номер
                                                                                    телефона:</label>
                                                                                <input type="text"
                                                                                       name="phone_number"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       required=""
                                                                                       value="{{ user.phone_number }}"
                                                                                       id="id_phone_number{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_user_type{{ user.id }}">Тип
                                                                                    пользователя:</label>
                                                                                <div class="dropdown bootstrap-select form-control">
                                                                                    <select name="user_type"
                                                                                            class="form-control"
                                                                                            id="id_user_type{{ user.id }}"
                                                                                            tabindex="-98">
                                                                                        <option value="{{ user.user_type }}"
                                                                                                selected="">Директор
                                                                                        </option>
                                                                                        <option value="user"
                                                                                        >Кассир
                                                                                        </option>
                                                                                    </select>
                                                                                    <div class="dropdown-menu "
                                                                                         role="combobox">
                                                                                        <div class="inner show"
                                                                                             role="listbox"
                                                                                             aria-expanded="false"
                                                                                             tabindex="-1">
                                                                                            <ul class="dropdown-menu inner show"></ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {% if user.cash.all.first %}
                                                                                <div class="col-md-12">
                                                                                    <label for="id_cash{{ user.id }}">Касса</label>
                                                                                    <select name="cash"
                                                                                            id="id_cash{{ user.id }}">
                                                                                        <option value="{{ user.cash.all.first.id }}"
                                                                                                selected>Касса
                                                                                            №{{ user.cash.all.first.id }}</option>
                                                                                        {% for cash in cashes %}
                                                                                            <option value="{{ cash.id }}"
                                                                                                    selected>Касса
                                                                                                №{{ cash.id }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            {% endif %}

                                                                        </div>

                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Сохранить
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Кассиры</h4>
                            <!-- Button trigger modal -->
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th><strong>Имя</strong></th>
                                    <th><strong>Фамилия</strong></th>
                                    <th><strong>Имя пользователя</strong></th>
                                    <th><strong>Номер телефона</strong></th>
                                    <th><strong>Касса</strong></th>
                                    <th><strong>Отрыл кассу</strong></th>
                                    <th><strong>Закрыл кассу</strong></th>
                                    <th><strong>Действие</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in сashiers %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>{{ user.first_name }}
                                        </td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.phone_number }}</td>
                                        <td>{% if user.cash.all.first %}Касса №{{ user.cash.first.id }}{% else %}Не
                                            указан{% endif %}</td>
                                        <td>{{ user.start_work|default:"Не указан" }}</td>
                                        <td>{{ user.end_work|default:"Не указан" }}</td>
                                        <td style="width: 300px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#basicModal_450_{{ forloop.counter }}">
                                                        Удалить <i class="fa fa-trash-o"></i>
                                                    </button>
                                                    <!-- Modal -->
                                                    <form action="{{ request.path }}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="delete" value="yes">
                                                        <input type="hidden" name="id" value="{{ user.id }}">
                                                        <div class="modal fade"
                                                             id="basicModal_450_{{ forloop.counter }}">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Удаление</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h1>Вы уверены что хотите удалить пользователя
                                                                            ?</h1>
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <button type="button" class="btn btn-success"
                                                                                data-dismiss="modal">
                                                                            <span>Отмена</span>
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <span>Удалить</span>
                                                                        </button>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="col-md-6">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#basicModal2323{{ user.id }}">Изменить &nbsp;
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <!-- Modal -->

                                                    <div class="modal fade" id="basicModal2323{{ user.id }}">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Изменить</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                                        <span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <form action="{% url 'duty' %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="id"
                                                                           value="{{ user.id }}">
                                                                    <input type="hidden" name="update" value="yes">
                                                                    <div class="modal-body">
                                                                        <div class="row">

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_first_name{{ user.id }}">Имя:</label>
                                                                                <input type="text" name="first_name"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       value="{{ user.first_name }}"
                                                                                       required=""
                                                                                       id="id_first_name{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_last_name{{ user.id }}">Фамилия:</label>
                                                                                <input type="text" name="last_name"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       value="{{ user.last_name }}"
                                                                                       required=""
                                                                                       id="id_last_name{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_username{{ user.id }}">Имя
                                                                                    пользователя:</label>
                                                                                <input type="text" name="username"
                                                                                       maxlength="255" autofocus=""
                                                                                       class="form-control"
                                                                                       required=""
                                                                                       value="{{ user.username }}"
                                                                                       id="id_username{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_phone_number{{ user.id }}">Номер
                                                                                    телефона:</label>
                                                                                <input type="text"
                                                                                       name="phone_number"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       required=""
                                                                                       value="{{ user.phone_number }}"
                                                                                       id="id_phone_number{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_user_type{{ user.id }}">Тип
                                                                                    пользователя:</label>
                                                                                <div class="dropdown bootstrap-select form-control">
                                                                                    <select name="user_type"
                                                                                            class="form-control"
                                                                                            id="id_user_type{{ user.id }}"
                                                                                            tabindex="-98">
                                                                                        <option value="user" selected=""
                                                                                        >Кассир
                                                                                        </option>
                                                                                        <option value="{{ user.user_type }}"
                                                                                        >Директор
                                                                                        </option>
                                                                                        <option value="product_manager"
                                                                                        >Складовщик
                                                                                        </option>
                                                                                    </select>
                                                                                    <div class="dropdown-menu "
                                                                                         role="combobox">
                                                                                        <div class="inner show"
                                                                                             role="listbox"
                                                                                             aria-expanded="false"
                                                                                             tabindex="-1">
                                                                                            <ul class="dropdown-menu inner show"></ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="submit"
                                                                                class="btn btn-primary">
                                                                            Сохранить
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Складовщики</h4>
                            <!-- Button trigger modal -->
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th><strong>Имя</strong></th>
                                    <th><strong>Фамилия</strong></th>
                                    <th><strong>Имя пользователя</strong></th>
                                    <th><strong>Номер телефона</strong></th>
                                    <th><strong>Действие</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in managers %}
                                    <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>{{ user.first_name }}
                                        </td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.phone_number }}</td>
                                        <td style="width: 300px;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#basicModal_23_{{ forloop.counter }}">
                                                        Удалить <i class="fa fa-trash-o"></i>
                                                    </button>
                                                    <!-- Modal -->
                                                    <form action="{{ request.path }}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="delete" value="yes">
                                                        <input type="hidden" name="id" value="{{ user.id }}">
                                                        <div class="modal fade"
                                                             id="basicModal_23_{{ forloop.counter }}">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Удаление</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal">
                                                                            <span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h1>Вы уверены что хотите удалить пользователя
                                                                            ?</h1>
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <button type="button" class="btn btn-success"
                                                                                data-dismiss="modal">
                                                                            <span>Отмена</span>
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <span>Удалить</span>
                                                                        </button>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="col-md-6">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            data-toggle="modal"
                                                            data-target="#basicModal_update_{{ user.id }}">Изменить
                                                        &nbsp;
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <!-- Modal -->

                                                    <div class="modal fade" id="basicModal_update_{{ user.id }}">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Изменить</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                                        <span>&times;</span>
                                                                    </button>
                                                                </div>
                                                                <form action="{% url 'duty' %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="id"
                                                                           value="{{ user.id }}">
                                                                    <input type="hidden" name="update" value="yes">
                                                                    <div class="modal-body">
                                                                        <div class="row">

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_first_name{{ user.id }}">Имя:</label>
                                                                                <input type="text" name="first_name"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       value="{{ user.first_name }}"
                                                                                       required=""
                                                                                       id="id_first_name{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_last_name{{ user.id }}">Фамилия:</label>
                                                                                <input type="text" name="last_name"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       value="{{ user.last_name }}"
                                                                                       required=""
                                                                                       id="id_last_name{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_username{{ user.id }}">Имя
                                                                                    пользователя:</label>
                                                                                <input type="text" name="username"
                                                                                       maxlength="255" autofocus=""
                                                                                       class="form-control"
                                                                                       required=""
                                                                                       value="{{ user.username }}"
                                                                                       id="id_username{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_phone_number{{ user.id }}">Номер
                                                                                    телефона:</label>
                                                                                <input type="text"
                                                                                       name="phone_number"
                                                                                       maxlength="255"
                                                                                       class="form-control"
                                                                                       required=""
                                                                                       value="{{ user.phone_number }}"
                                                                                       id="id_phone_number{{ user.id }}">
                                                                            </div>

                                                                            <div class="col-md-12 text-left text-dark mt-4">
                                                                                <label for="id_user_type{{ user.id }}">Тип
                                                                                    пользователя:</label>
                                                                                <div class="dropdown bootstrap-select form-control">
                                                                                    <select name="user_type"
                                                                                            class="form-control"
                                                                                            id="id_user_type{{ user.id }}"
                                                                                            tabindex="-98">
                                                                                        <option value="user"
                                                                                        >Кассир
                                                                                        </option>
                                                                                        <option value="{{ user.user_type }}"
                                                                                        >Директор
                                                                                        </option>
                                                                                        <option value="product_manager"
                                                                                                selected=""
                                                                                        >Складовщик
                                                                                        </option>
                                                                                    </select>
                                                                                    <div class="dropdown-menu "
                                                                                         role="combobox">
                                                                                        <div class="inner show"
                                                                                             role="listbox"
                                                                                             aria-expanded="false"
                                                                                             tabindex="-1">
                                                                                            <ul class="dropdown-menu inner show"></ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="submit"
                                                                                class="btn btn-primary">
                                                                            Сохранить
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Кассы</h4>
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                                    data-target="#basicModalcash">
                                Добавить
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="basicModalcash">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Добавление кассы</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>

                                        <form action="{% url 'duty' %}" method="post">
                                            {% csrf_token %}

                                            <div class="modal-body">
                                                <div class="row">
                                                    <input type="hidden" name="add_cash">
                                                    <h2>Вы уверены что хотите добавить кассу ?</h2>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                    Нет
                                                </button>
                                                <button type="submit" class="btn btn-primary"
                                                        onclick="this.form.submit()">
                                                    Да
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th><strong>№</strong></th>
                                    <th><strong>Пользователь</strong></th>
                                    <th><strong>Статус</strong></th>
                                    <th><strong>Действие</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cash in cashes %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            Касса № {{ cash.id }}
                                        </td>
                                        <td>{{ cash.user.get_fullname|default:"Не указан" }}
                                        </td>
                                        <td>{% if cash.user %}{% if cash.user.is_start %}Открыта{% else %}
                                            Закрыта{% endif %}{% else %}Не указан{% endif %}
                                        </td>
                                        <td style="width: 150px;">
                                            <button type="button" class="btn btn-danger mb-2" data-toggle="modal"
                                                    data-target="#basicModalcashdelete{{ forloop.counter }}">
                                                Удалить
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="basicModalcashdelete{{ forloop.counter }}">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Удаление кассы</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span>&times;</span>
                                                            </button>
                                                        </div>

                                                        <form action="{% url 'duty' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="delete_cash"
                                                                   value="yes">
                                                            <input type="hidden" name="id"
                                                                   value="{{ cash.id }}">
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <h2>Вы уверены что хотите удалить кассу ?</h2>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                        data-dismiss="modal">
                                                                    Нет
                                                                </button>
                                                                <button type="submit" class="btn btn-primary"
                                                                        onclick="this.form.submit()">
                                                                    Да
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
{% endblock %}