{% extends 'layout/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <style>
        .select2-selection {
            text-align: left;
            font-size: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Отчет по товарам</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="">Аналитика</a></li>
                        <li class="breadcrumb-item"><a href="{{ request.path }}">Отчет по товарам</a></li>
                    </ol>
                </div>
            </div>
            <form method="get">
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="text-transform: none">Выберите товар</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <select id="single-select" name="product" onchange="this.form.submit()">
                                            <option value="" selected> ---------</option>
                                            {% if product_id %}
                                                <option value="{{ product_id }}" selected>{{ product.title }}
                                                    - {{ product.article }}</option>
                                            {% endif %}

                                            {% for product in products %}
                                                <option value="{{ product.id }}">{{ product.title }}
                                                    - {{ product.article }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if product_id %}
                                        <div class="col-md-2">
                                            <a class="btn btn-success btn-xs"
                                               href="{% url 'product_detail' product_id %}">Детальный просмотр &nbsp; <i
                                                    class="fa fa-eye"></i></a>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-{% if product_id %}7{% else %}9{% endif %}"></div>

                                    {% if product_id %}
                                        <div class="col-md-6 mt-4">
                                            <table class="table table-bordered">
                                                <tbody>
                                                <tr>
                                                    <td class="left"><strong>Цена в розницу</strong></td>
                                                    <td class="right">{{ product.retail_price }} сум</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Цена оптом</strong></td>
                                                    <td class="right">{{ product.wholesale_price }} сум</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Выручка</strong></td>
                                                    <td class="right">{{ product.difference }} сум</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Куплено всего (покупателями)</strong></td>
                                                    <td class="right">{{ product.purchased }} {{ product.get_unit_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Возвращено</strong></td>
                                                    <td class="right">{{ returns_count }} {{ product.get_unit_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Осталось в складе</strong></td>
                                                    <td class="right">
                                                        <strong>{{ product.remainder }} {{ product.get_unit_display }}</strong><br>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-12 mt-4">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <div class="nav flex-column nav-pills mb-3">
                                                    <a href="#v-pills-yesterday" data-toggle="pill" class="nav-link">Вчера</a>
                                                    <a href="#v-pills-home" data-toggle="pill"
                                                       class="nav-link {% if not start_date %}active show{% endif %}">За
                                                        день</a>
                                                    <a href="#v-pills-profile" data-toggle="pill" class="nav-link">За
                                                        неделю</a>
                                                    <a href="#v-pills-messages" data-toggle="pill" class="nav-link">За
                                                        месяц</a>
                                                    <a href="#v-pills-settings" data-toggle="pill" class="nav-link">За
                                                        год</a>
                                                    <a href="#v-pills-date" data-toggle="pill"
                                                       class="nav-link {% if start_date %}active show{% endif %}">Своя
                                                        дата</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-9">
                                                <div class="tab-content">
                                                    <div id="v-pills-home"
                                                         class="tab-pane fade {% if not start_date %}active show{% endif %} ">
                                                        <div class="row">
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="mb-1">{{ whosale_amount_day|default:0 }}
                                                                                    сум</h5>
                                                                                <span class="text-success">Выручка</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper">
                                                                        <div class="chartjs-size-monitor">
                                                                            <div class="chartjs-size-monitor-expand">
                                                                                <div class=""></div>
                                                                            </div>
                                                                            <div class="chartjs-size-monitor-shrink">
                                                                                <div class=""></div>
                                                                            </div>
                                                                        </div>
                                                                        <canvas id="areaChart_2"
                                                                                class="chartjs-render-monitor"
                                                                                height="77"
                                                                                width="258"
                                                                                style="display: block; width: 258px; height: 77px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-success	overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="text-white mb-1">{{ sales_count_day|default:0 }}</h5>
                                                                                <span class="text-white">Продажи</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                                        <svg class="peity" height="100" width="400">
                                                                            <polygon fill="rgba(32, 222, 166, 1)"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="rgb(70, 255, 200)"
                                                                                      stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-primary overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col text-white">
                                                                                <h5 class="text-white mb-1">{{ retail_amount_day|default:0 }}
                                                                                    сум</h5>
                                                                                <span>Сумма продаж</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper px-2">
                                                                        <svg class="peity">
                                                                            <polygon fill="#5a8aed"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="#5a8aed" stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="v-pills-yesterday"
                                                         class="tab-pane fade ">
                                                        <div class="row">
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="mb-1">{{ whosale_amount_yesterday|default:0 }}
                                                                                    сум</h5>
                                                                                <span class="text-success">Выручка</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper">
                                                                        <div class="chartjs-size-monitor">
                                                                            <div class="chartjs-size-monitor-expand">
                                                                                <div class=""></div>
                                                                            </div>
                                                                            <div class="chartjs-size-monitor-shrink">
                                                                                <div class=""></div>
                                                                            </div>
                                                                        </div>
                                                                        <canvas id="areaChart_22"
                                                                                class="chartjs-render-monitor"
                                                                                height="77"
                                                                                width="258"
                                                                                style="display: block; width: 258px; height: 77px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-success	overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="text-white mb-1">{{ sales_count_yesterday|default:0 }}</h5>
                                                                                <span class="text-white">Продажи</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                                        <svg class="peity" height="100" width="400">
                                                                            <polygon fill="rgba(32, 222, 166, 1)"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="rgb(70, 255, 200)"
                                                                                      stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-primary overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col text-white">
                                                                                <h5 class="text-white mb-1">{{ retail_amount_yesterday|default:0 }}
                                                                                    сум</h5>
                                                                                <span>Наличных в кассах</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper px-2">
                                                                        <svg class="peity">
                                                                            <polygon fill="#5a8aed"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="#5a8aed" stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="v-pills-profile" class="tab-pane fade">
                                                        <div class="row">
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="mb-1">{{ whosale_amount_weeks|default:0 }}
                                                                                    сум</h5>
                                                                                <span class="text-success">Выручка</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper">
                                                                        <div class="chartjs-size-monitor">
                                                                            <div class="chartjs-size-monitor-expand">
                                                                                <div class=""></div>
                                                                            </div>
                                                                            <div class="chartjs-size-monitor-shrink">
                                                                                <div class=""></div>
                                                                            </div>
                                                                        </div>
                                                                        <canvas id="areaChart_23"
                                                                                class="chartjs-render-monitor"
                                                                                height="77"
                                                                                width="258"
                                                                                style="display: block; width: 258px; height: 77px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-success	overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="text-white mb-1">{{ sales_count_weeks|default:0 }}</h5>
                                                                                <span class="text-white">Продажи</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                                        <svg class="peity" height="100" width="400">
                                                                            <polygon fill="rgba(32, 222, 166, 1)"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="rgb(70, 255, 200)"
                                                                                      stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-primary overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col text-white">
                                                                                <h5 class="text-white mb-1">{{ retail_amount_weeks|default:0 }}
                                                                                    сум</h5>
                                                                                <span>Сумма продаж</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper px-2">
                                                                        <svg class="peity">
                                                                            <polygon fill="#5a8aed"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="#5a8aed" stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="v-pills-messages" class="tab-pane fade">
                                                        <div class="row">
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="mb-1">{{ whosale_amount_month|default:0 }}
                                                                                    сум</h5>
                                                                                <span class="text-success">Выручка</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper">
                                                                        <div class="chartjs-size-monitor">
                                                                            <div class="chartjs-size-monitor-expand">
                                                                                <div class=""></div>
                                                                            </div>
                                                                            <div class="chartjs-size-monitor-shrink">
                                                                                <div class=""></div>
                                                                            </div>
                                                                        </div>
                                                                        <canvas id="areaChart_24"
                                                                                class="chartjs-render-monitor"
                                                                                height="77"
                                                                                width="258"
                                                                                style="display: block; width: 258px; height: 77px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-success	overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="text-white mb-1">{{ sales_count_month|default:0 }}</h5>
                                                                                <span class="text-white">Продажи</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                                        <svg class="peity" height="100" width="400">
                                                                            <polygon fill="rgba(32, 222, 166, 1)"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="rgb(70, 255, 200)"
                                                                                      stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-primary overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col text-white">
                                                                                <h5 class="text-white mb-1">{{ retail_amount_month|default:0 }}
                                                                                    сум</h5>
                                                                                <span>Сумма продаж</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper px-2">
                                                                        <svg class="peity">
                                                                            <polygon fill="#5a8aed"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="#5a8aed" stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="v-pills-settings" class="tab-pane fade">
                                                        <div class="row">
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="mb-1">{{ whosale_amount_years|default:0 }}
                                                                                    сум</h5>
                                                                                <span class="text-success">Выручка</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper">
                                                                        <div class="chartjs-size-monitor">
                                                                            <div class="chartjs-size-monitor-expand">
                                                                                <div class=""></div>
                                                                            </div>
                                                                            <div class="chartjs-size-monitor-shrink">
                                                                                <div class=""></div>
                                                                            </div>
                                                                        </div>
                                                                        <canvas id="areaChart_25"
                                                                                class="chartjs-render-monitor"
                                                                                height="77"
                                                                                width="258"
                                                                                style="display: block; width: 258px; height: 77px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-success	overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="text-white mb-1">{{ sales_count_years|default:0 }}</h5>
                                                                                <span class="text-white">Продажи</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                                        <svg class="peity" height="100" width="400">
                                                                            <polygon fill="rgba(32, 222, 166, 1)"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="rgb(70, 255, 200)"
                                                                                      stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                                                                <div class="card bg-primary overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col text-white">
                                                                                <h5 class="text-white mb-1">{{ retail_amount_years|default:0 }}
                                                                                    сум</h5>
                                                                                <span>Наличных в кассах</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper px-2">
                                                                        <svg class="peity">
                                                                            <polygon fill="#5a8aed"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="#5a8aed" stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="v-pills-date"
                                                         class="tab-pane fade {% if start_date %}active show{% endif %}">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12 mb-5">

                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <input class="form-control "
                                                                               type="date" name="start_date"
                                                                               value="{{ start_date }}">
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <input class="form-control"
                                                                               type="date" name="end_date"
                                                                               value="{{ end_date }}">
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <button class="btn btn-primary"
                                                                                type="submit">Найти
                                                                        </button>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <a class="btn btn-danger"
                                                                           href="{% url 'product_analytic' %}">Сбросить</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-xl-4 col-xxl-3 col-lg-6 col-sm-6">
                                                                <div class="card overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="mb-1">{{ whosale_amount_dates|default:0 }}
                                                                                    сум</h5>
                                                                                <span class="text-success">Выручка</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper">
                                                                        <div class="chartjs-size-monitor">
                                                                            <div class="chartjs-size-monitor-expand">
                                                                                <div class=""></div>
                                                                            </div>
                                                                            <div class="chartjs-size-monitor-shrink">
                                                                                <div class=""></div>
                                                                            </div>
                                                                        </div>
                                                                        <canvas id="areaChart_26"
                                                                                class="chartjs-render-monitor"
                                                                                height="77"
                                                                                width="258"
                                                                                style="display: block; width: 258px; height: 77px;"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-3 col-lg-6 col-sm-6">
                                                                <div class="card bg-success	overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <h5 class="text-white mb-1">{{ sales_count_dates|default:0 }}</h5>
                                                                                <span class="text-white">Продажи</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                                        <svg class="peity" height="100" width="400">
                                                                            <polygon fill="rgba(32, 222, 166, 1)"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="rgb(70, 255, 200)"
                                                                                      stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-xxl-3 col-lg-6 col-sm-6">
                                                                <div class="card bg-primary overflow-hidden">
                                                                    <div class="card-body pb-0 px-4 pt-4">
                                                                        <div class="row">
                                                                            <div class="col text-white">
                                                                                <h5 class="text-white mb-1">{{ retail_amount_dates|default:0 }}
                                                                                    сум</h5>
                                                                                <span>Наличных в кассах</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="chart-wrapper px-2">
                                                                        <svg class="peity">
                                                                            <polygon fill="#5a8aed"
                                                                                     points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                            <polyline fill="none"
                                                                                      points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                                      stroke="#5a8aed" stroke-width="1"
                                                                                      stroke-linecap="square"></polyline>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="text-transform: none">График продаж</h4>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills justify-content-end mb-4">
                                    <li class=" nav-item">
                                        <a href="#navpills2-1"
                                           class="nav-link {% if not graphic_start_date %} active {% endif %}"
                                           data-toggle="tab"
                                           aria-expanded="false">За неделю</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#navpills2-2" class="nav-link" data-toggle="tab" aria-expanded="false">За
                                            месяц</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#navpills2-3" class="nav-link" data-toggle="tab" aria-expanded="true">За
                                            год</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#navpills2-4"
                                           class="nav-link {% if graphic_start_date %} active {% endif %}"
                                           data-toggle="tab"
                                           aria-expanded="true">Своя дата</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="navpills2-1"
                                         class="tab-pane {% if not graphic_start_date %} active {% endif %}">
                                        <div class="row">
                                            <canvas id="barChart_1"></canvas>
                                        </div>
                                    </div>
                                    <div id="navpills2-2" class="tab-pane">
                                        <div class="row">
                                            <canvas id="barChart_2"></canvas>
                                        </div>
                                    </div>
                                    <div id="navpills2-3" class="tab-pane">
                                        <div class="row">
                                            <canvas id="areaChart_2222"></canvas>
                                        </div>
                                    </div>
                                    <div id="navpills2-4"
                                         class="tab-pane {% if graphic_start_date %} active {% endif %}">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <input class="form-control float-right"
                                                               type="date" name="graphic_start_date"
                                                               value="{{ graphic_start_date }}">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input class="form-control float-right"
                                                               type="date" name="graphic_end_date"
                                                               value="{{ graphic_end_date }}">
                                                    </div>

                                                    <div class="col-md-1 ">
                                                        <button class="btn btn-primary float-right" type="submit">Найти
                                                        </button>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <a class="btn btn-danger float-left" href="{% url 'home' %}">Сбросить</a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12 mt-4">
                                                <canvas id="areaChart_22222"></canvas>
                                            </div>
                                        </div>

            </form>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/select2-init.js' %}"></script>
    <script>
        function create_area(elem, data = [60, 80, 60, 40, 70, 55, 95], labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"]) {
            const areaChart_2 = elem.getContext('2d');
            //generate gradient
            const areaChart_2gradientStroke = areaChart_2.createLinearGradient(0, 1, 0, 500);
            areaChart_2gradientStroke.addColorStop(0, "rgba(16, 202, 147, 0.1)");
            areaChart_2gradientStroke.addColorStop(1, "rgba(16, 202, 147, 0)");

            areaChart_2.height = 50;

            new Chart(areaChart_2, {
                type: 'line',
                data: {
                    defaultFontFamily: 'Poppins',
                    labels: labels,
                    datasets: [
                        {
                            label: "My First dataset",
                            data: data,
                            borderColor: "#10ca93",
                            borderWidth: "3",
                            backgroundColor: areaChart_2gradientStroke
                        }
                    ]
                },
                options: {

                    tooltips: {
                        enabled: false,
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    legend: false,
                    scales: {
                        yAxes: [{

                            ticks: {
                                beginAtZero: true,
                                max: 100,
                                min: 0,
                                stepSize: 10,
                                padding: 2
                            },
                            display: false,
                        }],
                        xAxes: [{
                            ticks: {
                                padding: 2
                            },
                            display: false,
                        }]
                    }
                }
            });
        }


        create_area(document.getElementById('areaChart_22'))
        create_area(document.getElementById('areaChart_23'))
        create_area(document.getElementById('areaChart_24'))
        create_area(document.getElementById('areaChart_25'))
        create_area(document.getElementById('areaChart_26'))
    </script>
    <script>
        let newCust2 = [{% for graphic in graphic %}{% if graphic %}"{{ graphic }}", {% else %}0, {% endif %}{% endfor %}];

        const barChart_1 = document.getElementById("barChart_1").getContext('2d');

        new Chart(barChart_1, {
            type: 'bar',
            data: {
                defaultFontFamily: 'Poppins',
                labels: [{% for graphic in graphic_labels %}"{{ graphic }}", {% endfor %}],
                datasets: [
                    {
                        label: "Продаж",
                        data: newCust2,
                        borderColor: 'rgba(58, 122, 254, 1)',
                        borderWidth: "0",
                        backgroundColor: 'rgba(58, 122, 254, 1)'
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0
                        }
                    }],
                    xAxes: [{
                        // Change here
                        barPercentage: 0.5
                    }]
                }
            }
        });

        let newCust3 = [{% for graphic in month_graphic %}{% if graphic %}"{{ graphic }}", {% else %}0, {% endif %}{% endfor %}];

        barChart_2.height = 100;

        new Chart(barChart_2, {
            type: 'line',
            data: {
                defaultFontFamily: 'Poppins',
                labels: [{% for graphic in month_graphic_labels %}"{{ graphic }}", {% endfor %}],
                datasets: [
                    {
                        label: "Продаж",
                        data: newCust3,
                        borderColor: 'rgba(56, 164, 248, 1)',
                        borderWidth: "2",
                        backgroundColor: 'transparent',
                        pointBackgroundColor: 'rgba(56, 164, 248, 1)'
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0,
                            stepSize: 20,
                            padding: 10
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            padding: 5
                        }
                    }]
                }
            }
        });

        const areaChart_2 = document.getElementById("areaChart_2222").getContext('2d');
        //generate gradient
        const areaChart_2gradientStroke = areaChart_2.createLinearGradient(0, 1, 0, 500);
        areaChart_2gradientStroke.addColorStop(0, "rgba(242, 87, 103, 0.2)");
        areaChart_2gradientStroke.addColorStop(1, "rgba(242, 87, 103, 0)");

        areaChart_2.height = 100;

        new Chart(areaChart_2, {
            type: 'line',
            data: {
                defaultFontFamily: 'Poppins',
                labels: [{% for graphic in month_graphic_labels %}{% if graphic %}"{{ graphic }}", {% else %}0, {% endif %}{% endfor %}],
                datasets: [
                    {
                        label: "Продаж:",
                        data: [{% for graphic in month_graphic %}{% if graphic %}"{{ graphic }}", {% else %}0, {% endif %}{% endfor %}],
                        borderColor: "#f25767",
                        borderWidth: "4",
                        backgroundColor: areaChart_2gradientStroke
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0,
                            stepSize: 20,
                            padding: 5
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            padding: 5
                        }
                    }]
                }
            }
        });


        const areaChart_3 = document.getElementById("areaChart_22222").getContext('2d');
        //generate gradient
        const areaChart_3gradientStroke = areaChart_3.createLinearGradient(0, 1, 0, 500);
        areaChart_3gradientStroke.addColorStop(0, "rgba(242, 87, 103, 0.2)");
        areaChart_3gradientStroke.addColorStop(1, "rgba(242, 87, 103, 0)");

        areaChart_3.height = 100;

        new Chart(areaChart_3, {
            type: 'line',
            data: {
                defaultFontFamily: 'Poppins',
                labels: {% if date_graphic_labels  %}[
                    {% for graphic in date_graphic_labels %}"{{ graphic }}", {% endfor %}] {% else %} [] {% endif %},
                datasets: [
                    {
                        label: "Продаж: ",
                        data: {% if date_graphic  %}[
                            {% for graphic in date_graphic %}{% if graphic %}"{{ graphic }}",{% else %}0, {% endif %}{% endfor %}
                            ]{% else %}[]{% endif %},
                        borderColor: "#f25767",
                        borderWidth: "4",
                        backgroundColor: areaChart_3gradientStroke
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0,
                            stepSize: 20,
                            padding: 5
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            padding: 5
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}