{% extends 'layout/base.html' %}
{% load static widget_tweaks custom_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
    <style>
        .select2-selection {
            text-align: center;
            font-size: 20px;
            width: 200px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Список продаж</h4>
                        <span>Полный список ваших продаж</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="">Аналитика</a></li>
                        <li class="breadcrumb-item"><a href="{{ request.path }}">Продажи</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Продажи</h4>
                            <form method="get">
                                <select id="single-select" name="product" onchange="this.form.submit()">
                                    <option value="" selected> ---------</option>
                                    {% if product.id %}
                                        <option value="{{ product.id }}" selected>{{ product.title }}</option>
                                    {% endif %}
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.title }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th><strong>Продукты</strong></th>
                                        <th><strong>Тип оплаты</strong></th>
                                        <th><strong>Общая сумма</strong></th>
                                        <th><strong>Касса</strong></th>
                                        <th><strong>Дата</strong></th>
                                        <th><strong>Действие</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for sale in sales %}
                                        <tr>
                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td style="width: 200px;">

                                            <button type="button" class="btn btn-success" data-toggle="modal"
                                                    data-target="#basicModal{{ forloop.counter }}">
                                                Просмотреть <i class="fa fa-eye"></i>
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="basicModal{{ forloop.counter }}">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Список продуктов</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">
                                                                <span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row" id="products_modal">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                    <th>Название</th>
                                                                    <th>Количество</th>
                                                                    <th>Сумма</th>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for product in sale.products.all %}
                                                                        <tr>
                                                                            <td>{{ product.product.title }}</td>
                                                                            <td>{{ product.count }}</td>
                                                                            <td>{% multiply product.product.retail_price product.count %}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">

                                                            <h5 class="float-left">Общая
                                                                сумма: {{ sale.amount }} сум</h5>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </td>
                                        <td>{{ sale.get_payment_type_display }}</td>
                                        <td>{{ sale.amount }}</td>
                                        <td>Касса №{{ sale.cash.id }}</td>
                                        <td>{{ sale.created }}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#basicModal_1_{{ forloop.counter }}">
                                                Удалить <i class="fa fa-eye"></i>
                                            </button>
                                            <!-- Modal -->
                                            <form action="{{ request.path }}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete" value="yes">
                                                <input type="hidden" name="id" value="{{ sale.id }}">
                                                <div class="modal fade" id="basicModal_1_{{ forloop.counter }}">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Удаление</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    <span>&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h1>Вы уверены что хотите удалить продажу ?</h1>
                                                            </div>
                                                            <div class="modal-footer">

                                                                <button type="button" class="btn btn-success"
                                                                        data-dismiss="modal">
                                                                    <span>Отмена</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">
                                                                    <span>Удалить</span>
                                                                </button>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/select2-init.js' %}"></script>

    {#    <script>#}
    {#        function click() {#}
    {#            swal({#}
    {#                title: "Are you sure to delete ?",#}
    {#                text: "You will not be able to recover this imaginary file !!",#}
    {#                type: "warning",#}
    {#                showCancelButton: !0,#}
    {#                confirmButtonColor: "#DD6B55",#}
    {#                confirmButtonText: "Yes, delete it !!",#}
    {#                cancelButtonText: "No, cancel it !!",#}
    {#                closeOnConfirm: !1,#}
    {#                closeOnCancel: !1#}
    {#            }, function (e) {#}
    {#                e ? swal("Deleted !!", "Hey, your imaginary file has been deleted !!", "success") : swal("Cancelled !!", "Hey, your imaginary file is safe !!", "error")#}
    {#            })#}
    {#        }#}
    {#    </script>#}
    {#    <script src="{% static 'js/plugins-init/sweetalert.init.js' %}"></script>#}
    {#    <script>#}
    {#        document.querySelector(".sweet-wrong").onclick = function () {#}
    {#            sweetAlert("Oops...", "Something went wrong !!", "error")#}
    {#        }#}
    {#    </script>#}
{% endblock %}