{% extends 'layout/base.html' %}
{% load static widget_tweaks %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Список доп. расходов</h4>
                        <span>Полный список доп. расходов</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Доп. Расходы</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Расходы</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Сумма</strong></th>
                                        <th><strong>Время</strong></th>
                                        <th><strong>Добавлено</strong></th>
                                        <th><strong>Действие</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for expense in expenses %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>{{ expense.title }}</td>
                                            <td>{{ expense.amount }}</td>
                                            <td>{{ expense.created }}</td>
                                            <td>{{ expense.user }}</td>
                                            <td>
                                                <form action="{{ request.path }}" method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger ml-3 btn-xs" type="submit">
                                                        Удалить
                                                    </button>
                                                    <input type="hidden" name="delete" value="yes">
                                                    <input type="hidden" name="id" value="{{ expense.id }}">
                                                </form>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            <h4>Добавить расход</h4>
                        </div>
                        <div class="card-body">
                            <form action="{{ request.path }}" method="post">
                                {% csrf_token %}
                                <div class="row" id="products_modal">
                                    {% for f in form %}
                                        <div class="col-md-12 text-left text-dark mt-4">
                                            {{ f.label_tag }}
                                            {{ f|add_class:'form-control' }}
                                        </div>
                                    {% endfor %}

                                    <div class="col-md-12 text-left text-dark mt-4">
                                        <button type="submit" class="btn btn-primary float-right">
                                            Сохранить

                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>

    {#    <script>#}
    {#        function click() {#}
    {#            swal({#}
    {#                title: "Are you sure to delete ?",#}
    {#                text: "You will not be able to recover this imaginary file !!",#}
    {#                type: "warning",#}
    {#                showCancelButton: !0,#}
    {#                confirmButtonColor: "#DD6B55",#}
    {#                confirmButtonText: "Yes, delete it !!",#}
    {#                cancelButtonText: "No, cancel it !!",#}
    {#                closeOnConfirm: !1,#}
    {#                closeOnCancel: !1#}
    {#            }, function (e) {#}
    {#                e ? swal("Deleted !!", "Hey, your imaginary file has been deleted !!", "success") : swal("Cancelled !!", "Hey, your imaginary file is safe !!", "error")#}
    {#            })#}
    {#        }#}
    {#    </script>#}
    {#    <script src="{% static 'js/plugins-init/sweetalert.init.js' %}"></script>#}
    {#    <script>#}
    {#        document.querySelector(".sweet-wrong").onclick = function () {#}
    {#            sweetAlert("Oops...", "Something went wrong !!", "error")#}
    {#        }#}
    {#    </script>#}
{% endblock %}