{% extends 'layout/base.html' %}
{% load static widget_tweaks %}

{% block content %}
    <div class="content-body">
        <form action="{% url 'product_detail' product.id %}" method="post" name="delete_product">
            {% csrf_token %}
            <input type="hidden" name="delete_product" value="yes">
        </form>
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">

                    {% csrf_token %}
                    <div class="welcome-text">
                        <h4>{{ product.title }}
                            <button class="btn btn-danger ml-3 btn-xs" type="submit"
                                    onclick="document.forms.delete_product.submit()">Удалить
                            </button>
                        </h4>
                        <span>Товар № {{ product.id }}</span>
                    </div>

                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Товары</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'product_detail' product.id %}?delivery_warehouse={{ warehouse.id }}">{{ product.title }}</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: none">Данные о товаре</h4>
                            <form method="get">
                                <select name="delivery_warehouse" id="delivery_id" onchange="this.form.submit()">
                                    {% if warehouse %}
                                        <option value="{{ warehouse.id }}" selected>{{ warehouse.title }}</option>
                                    {% endif %}
                                    {% for warehouse in warehouses %}
                                        <option value="{{ warehouse.id }}">{{ warehouse.title }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="{% url 'product_detail' product.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    {% for f in form %}
                                                        <div class="col-md-6 text-left text-dark mt-4">
                                                            {{ f.label_tag }}
                                                            {{ f|add_class:'form-control' }}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="col-md-12 text-left text-dark mt-4">
                                                        <button class="btn btn-primary float-right" type="submit">
                                                            Сохранить
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <table class="table table-bordered">
                                                <tbody>
                                                <tr>
                                                    <td class="left"><strong>Выручка</strong></td>
                                                    <td class="right">{{ product.difference }} сум</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Куплено всего (покупателями)</strong></td>
                                                    <td class="right">{{ product.purchased }} {{ product.get_unit_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="left"><strong>Осталось в складе</strong></td>
                                                    <td class="right">
                                                        <strong>{{ product.remainder }} {{ product.get_unit_display }}</strong><br>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: none">Завозы товара</h4>

                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                                    data-target="#basicModal">
                                Добавить завоз товара
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="basicModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Добавить завоз товара</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>

                                        <form action="{% url 'product_detail' product.id %}" method="post">
                                            {% csrf_token %}

                                            <div class="modal-body">
                                                <div class="row" id="products_modal">
                                                    {% for f in delivery_form %}
                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            <input type="hidden" name="product"
                                                                   value="{{ product.id }}">
                                                            {% if f.label == 'Время завоза' %}
                                                                {{ f.label_tag }}
                                                                {{ f|add_class:'form-control'|attr:"type:datetime-local" }}
                                                            {% else %}
                                                                {{ f.label_tag }}
                                                                {{ f|add_class:'form-control' }}
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    Сохранить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <th>Время</th>
                                        <th>Количество</th>
                                        <th>Действие</th>
                                        </thead>
                                        <tbody>
                                        {% for delivery in deliveries %}
                                            <tr>
                                                <td>{{ delivery.created }}</td>
                                                <td>{{ delivery.count }}</td>
                                                <td>
                                                    <form action="{% url 'product_detail' product.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="yes" name="delete">
                                                        <input type="hidden" value="{{ delivery.id }}" name="delivery">
                                                        <button class="btn btn-danger" type="submit"><i
                                                                class="fa fa-trash-o"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: none">Возвраты товара</h4>
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                                    data-target="#basicModal2">
                                Добавить возврат товара
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="basicModal2">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> Добавить возврат товара</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>

                                        <form action="{% url 'product_detail' product.id %}" method="post">
                                            {% csrf_token %}

                                            <div class="modal-body">
                                                <div class="row" id="products_modal">
                                                    {% for f in return_product_form %}
                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            <input type="hidden" name="product"
                                                                   value="{{ product.id }}">
                                                            {% if f.label == 'Время возврата' %}
                                                                {{ f.label_tag }}
                                                                {{ f|add_class:'form-control'|attr:"type:datetime-local" }}
                                                            {% else %}
                                                                {{ f.label_tag }}
                                                                {{ f|add_class:'form-control' }}
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    Сохранить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <th>Время</th>
                                        <th>Количество</th>
                                        <th>Действие</th>
                                        </thead>
                                        <tbody>
                                        {% for return in returns %}
                                            <tr>
                                                <td>{{ return.created }}</td>
                                                <td>{{ return.return_count }}</td>
                                                <td>
                                                    <form action="{% url 'product_detail' product.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="yes" name="delete">
                                                        <input type="hidden" value="return" name="type">
                                                        <input type="hidden" value="{{ return.id }}" name="return">
                                                        <button class="btn btn-danger" type="submit"><i
                                                                class="fa fa-trash-o"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}