{% extends 'layout/base.html' %}
{% load static widget_tweaks custom_tags %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Список товаров</h4>
                        <span>Полный список ваших товаров</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Товары</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Товары</h4>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary mb-2" data-toggle="modal"
                                    data-target="#basicModal">
                                Добавить товар
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="basicModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Добавить товар</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>

                                        <form action="{% url 'product_create' %}" method="post" name="products">
                                            {% csrf_token %}

                                            <div class="modal-body">
                                                <div class="row" id="products_modal">
                                                    {% for f in form %}
                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            {{ f.label_tag }}
                                                            {{ f|add_class:'form-control' }}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="col-md-12 mt-4">
                                                        <h3>Уже имеется на складе</h3>
                                                    </div>
                                                    <div class="col-md-12 mt-3" id="delivery-1">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="count">Количество</label>
                                                                <input type="number" class="form-control"
                                                                       name="delivery_count" required
                                                                       value="45" id="count">
                                                            </div>
                                                            <div class="col-md-12 mt-2">
                                                                <label for="id_warehouse">Склад</label>
                                                                <select name="warehouse" id="id_warehouse"
                                                                        class="form-control">
                                                                    {% for warehouse in warehouses %}
                                                                        <option value="{{ warehouse.id }}">{{ warehouse }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    Сохранить
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Артикуль</strong></th>
                                        <th><strong>Цена оптом</strong></th>
                                        <th><strong>Цена в розницу</strong></th>
                                        <th><strong>Выручка</strong></th>
                                        <th><strong>Количество продаж</strong></th>
                                        <th><strong>Осталось</strong></th>
                                        <th><strong>Удалить</strong></th>
                                        <th><strong>Распечатать</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                <a href="{% url 'product_detail' product.id %}?delivery_warehouse={{ warehouses.first.id }}">{{ product.title }}</a>
                                            </td>
                                            <td>{{ product.article }}</td>
                                            <td>{{ product.wholesale_price }}</td>
                                            <td>{{ product.retail_price }}</td>
                                            <td>{{ product.difference }}</td>
                                            <td>{{ product.purchased }}</td>
                                            <td>{{ product.remainder }}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-xs " data-toggle="modal"
                                                        data-target="#basicModal_product_{{ forloop.counter }}">
                                                    Удалить <i class="fa fa-trash-o"></i>
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="basicModal_product_{{ forloop.counter }}">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Удалить товар</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    <span>&times;</span>
                                                                </button>
                                                            </div>

                                                            <form action="{% url 'product_detail' product.id %}"
                                                                  method="post"
                                                                  name="products">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="delete_product" value="yes">
                                                                <div class="modal-body">
                                                                    <h2>Вы уверены что хотите удалить товар ?</h2>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary"
                                                                            data-dismiss="modal">
                                                                        Отмена
                                                                    </button>
                                                                    <button type="submit" class="btn btn-danger">
                                                                        Удалить
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary ml-3 btn-xs"
                                                        onclick="create_barcode('{{ product.article }}')">
                                                    Распечатать &nbsp; <i class="fa fa-paper-plane"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <svg class="d-none" id="barcode-{{ product.article }}"></svg>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/barcodes/JsBarcode.code128.min.js"></script>
    <script>
        function create_barcode(article) {
            JsBarcode(`#barcode-${article}`, article.toString());

            let w = window.open('', 'printform', 'width=700,height=700');
            $(`#barcode-${article}`).removeAttr('class')
            let html2 = $(`#barcode-${article}`).prop('outerHTML');
            $(w.document.body).html(html2);
            w.print();
            w.close()
            location.reload(true)
        }
    </script>
    {#    <script>#}
    {#        function click() {#}
    {#            swal({#}
    {#                title: "Are you sure to delete ?",#}
    {#                text: "You will not be able to recover this imaginary file !!",#}
    {#                type: "warning",#}
    {#                showCancelButton: !0,#}
    {#                confirmButtonColor: "#DD6B55",#}
    {#                confirmButtonText: "Yes, delete it !!",#}
    {#                cancelButtonText: "No, cancel it !!",#}
    {#                closeOnConfirm: !1,#}
    {#                closeOnCancel: !1#}
    {#            }, function (e) {#}
    {#                e ? swal("Deleted !!", "Hey, your imaginary file has been deleted !!", "success") : swal("Cancelled !!", "Hey, your imaginary file is safe !!", "error")#}
    {#            })#}
    {#        }#}
    {#    </script>#}
    {#    <script src="{% static 'js/plugins-init/sweetalert.init.js' %}"></script>#}
    {#    <script>#}
    {#        document.querySelector(".sweet-wrong").onclick = function () {#}
    {#            sweetAlert("Oops...", "Something went wrong !!", "error")#}
    {#        }#}
    {#    </script>#}
{% endblock %}