{% extends 'layout/base.html' %}
{% load custom_tags %}
{% load static %}

{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>{{ warehouse.title }}</h4>
                        <span>{{ warehouse.title }}</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}">Товары</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'warehouse' %}">Склады</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'warehouse_products' warehouse.id %}">{{ warehouse.title }}</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Товары</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th style="width:20px;">
                                            #
                                        </th>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Артикуль</strong></th>
                                        <th><strong>Цена оптом</strong></th>
                                        <th><strong>Цена в розницу</strong></th>
                                        <th><strong>Выручка</strong></th>
                                        <th><strong>Количество продаж</strong></th>
                                        <th><strong>Осталось</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% warehouse_product_filter warehouse.id as products %}
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td><a href="{% url 'product_detail' product.id %}?delivery_warehouse={{ warehouse.id }}">{{ product.title }}</a>
                                            </td>
                                            <td>{{ product.article }}</td>
                                            <td>{{ product.wholesale_price }}</td>
                                            <td>{{ product.retail_price }}</td>
                                            <td>{{ product.difference }}</td>
                                            <td>{{ product.purchased }}</td>
                                            <td>{{ product.remainder }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th style="width:20px;">
                                            #
                                        </th>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Артикуль</strong></th>
                                        <th><strong>Цена оптом</strong></th>
                                        <th><strong>Цена в розницу</strong></th>
                                        <th><strong>Выручка</strong></th>
                                        <th><strong>Количество продаж</strong></th>
                                        <th><strong>Осталось</strong></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
{% endblock %}