{% extends 'layout/base.html' %}
{% load widget_tweaks custom_tags %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Склады</h4>
                        <span>Склады вашего предприятия</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a href="/">Товары</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'warehouse' %}">Склады</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                {% for warehouse in warehouse %}
                    <div class="col-xl-4 col-lg-12 col-sm-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">

                                <h2 class="card-title float-left"
                                    style="text-transform: none">{{ warehouse.title }}</h2>

                                <div class="btn-toolbar justify-content-between" role="toolbar"
                                     aria-label="Toolbar with button groups">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-outline-primary "
                                                data-toggle="modal"
                                                data-target="#exampleModalCenter{{ forloop.counter }}">Редактировать
                                            &nbsp;<i
                                                    class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger " data-toggle="modal"
                                                data-target=".bd-example-modal-sm{{ forloop.counter }}">Удалить <i
                                                class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter{{ forloop.counter }}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Изменить склад</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <form action="{% url 'warehouse' %}" method="post">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <input type="hidden" name="id" value="{{ warehouse.id }}">
                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            <label for="id_title">Название:</label>
                                                            <input type="text" name="title" maxlength="255"
                                                                   class="form-control" required="" id="id_title"
                                                                   value="{{ warehouse.title }}">
                                                        </div>

                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            <label for="id_address">Адресс (необязательно):</label>
                                                            <input type="text" name="address" maxlength="255"
                                                                   class="form-control" id="id_address"
                                                                   value="{{ warehouse.address|default:"Не указан" }}">
                                                        </div>

                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            <label for="id_phone">Телефон (необязательно):</label>
                                                            <input type="text" name="phone" maxlength="255"
                                                                   class="form-control" id="id_phone"
                                                                   value="{{ warehouse.phone|default:"Не указан" }}">
                                                        </div>

                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            <label for="id_comment">Комментарий (необязательно):</label>
                                                            <textarea name="comment" cols="40" rows="10"
                                                                      class="form-control"
                                                                      id="id_comment">{{ warehouse.comment|default:"Не указан" }}</textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Сохранить</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade bd-example-modal-sm{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title">Удаление</h3>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <form action="{% url 'warehouse' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ warehouse.id }}">
                                                <input type="hidden" name="delete" value="yes">
                                                <div class="modal-body">
                                                    <h5>Вы уверены что хотите удалить
                                                    <strong>{{ warehouse.title }}</strong> ?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light"
                                                            data-dismiss="modal">
                                                        Нет
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Да</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body pb-0">
                                <p>{{ warehouse.comment|default:"Нету комментариев" }}</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex px-0 justify-content-between">
                                        <strong>Адресс</strong>
                                        <span class="mb-0">{{ warehouse.address|default:"Не указан" }}</span>
                                    </li>
                                    <li class="list-group-item d-flex px-0 justify-content-between">
                                        <strong>Телефон</strong>
                                        <span class="mb-0">{{ warehouse.phone|default:"Не указан" }}</span>
                                    </li>
                                    <li class="list-group-item d-flex px-0 justify-content-between">
                                        <strong>Добавлено товаров</strong>
                                        <span class="mb-0">{% warehouse_filter warehouse.id %}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer pt-0 pb-0 text-center">
                                <div class="row">
                                    <div class="col-12 pt-3 pb-3 ">
                                        <a href="{% url 'warehouse_products' warehouse.id %}" class="btn btn-success float-right">Посмотреть товары &nbsp;<i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-xl-4 col-lg-12 col-xxl-4 col-sm-12">
                    <div class="card">
                        <div class="card-body text-center ai-icon  text-primary">
                            <svg id="rocket-icon" class="my-2" viewBox="0 0 24 24" width="80" height="80"
                                 stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"
                                      style="stroke-dasharray: 71, 91; stroke-dashoffset: 0;"></path>
                                <path d="M3,6L21,6" style="stroke-dasharray: 18, 38; stroke-dashoffset: 0;"></path>
                                <path d="M16 10a4 4 0 0 1-8 0"
                                      style="stroke-dasharray: 13, 33; stroke-dashoffset: 0;"></path>
                            </svg>
                            <h4 class="my-2">Добавить склад</h4>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn my-2 btn-primary btn-lg px-4" data-toggle="modal"
                                    data-target="#exampleModalCenter">Добавить &nbsp;<i
                                    class="fa fa-plus-circle"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Добавление склада</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>&times;</span>
                                            </button>
                                        </div>
                                        <form action="{% url 'warehouse' %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <div class="row">
                                                    {% for f in form %}
                                                        <div class="col-md-12 text-left text-dark mt-4">
                                                            {{ f.label_tag }}
                                                            {{ f|add_class:'form-control' }}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
