{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!--**********************************
    Content body start
***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Моя компания</h4>
                        <span>Настройки вашей системы</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'my_company' %}">Моя копания</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                {% if request.user.user_type != 'user' %}
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="text-transform: none">Данные вашей компании</h4>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'my_company' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        {% for f in form %}
                                            <div class="col-md-6 text-left text-dark mt-4">
                                                {{ f.label_tag }}
                                                {{ f|add_class:'form-control' }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-md-12 text-left text-dark mt-4">
                                            <button class="btn btn-primary float-right" type="submit">
                                                Сохранить
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: none">Дополнительные настройки</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'my_company' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            {% if request.user.user_type != 'user' %}
                                                {% for f in product_form %}
                                                    <div class="col-md-12 text-left text-dark mt-4">
                                                        {{ f.label_tag }}
                                                        {{ f|add_class:'form-control' }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                        {% for f in theme_form %}
                                            <div class="col-md-12 text-left text-dark mt-4">
                                                {{ f.label_tag }}
                                                {{ f|add_class:'form-control' }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-md-12 text-left text-dark mt-4">
                                            <button class="btn btn-primary float-right" type="submit">
                                                Сохранить
                                            </button>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}