{% extends 'layout/base.html' %}
{% load custom_tags %}
{% block content %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h3 class="mt-4">
                            {% if request.user.cash.all.first.id and request.user.is_start %}
                                Касса № {{ request.user.cash.all.first.id }} ( {% if request.user.is_start %}
                                Открыта {% else %}
                                Закрыта {% endif %})
                                {% if request.user.is_start %}
                                    <button class="btn btn-danger float-end" style="width: 150px;" onclick="end_work()">
                                        Закрыть
                                        кассу
                                    </button>
                                {% else %}
                                    <button class="btn btn-success float-end" style="width: 150px;"
                                            onclick="start_work()">
                                        Открыть кассу
                                    </button>
                                {% endif %}
                            {% else %}
                                Выберите кассу:
                                <select id="realtime_cash" class="form-control mt-3" onchange="set_cash(this.value)">
                                    <option value="" selected>------------</option>
                                    {% for cash in cashes %}
                                        <option value="{{ cash.id }}">Касса №{{ cash.id }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                            {#                        154836#}

                        </h3>
                        {% if request.user.cash.all.first.id and request.user.is_start %}
                            <label for="start_sum_id">Начальная сумма в кассе</label>
                            <input type="number" id="start_sum_id" class="form-control"
                                   value="{% correct_input start_sum.amount %}"
                                   {% if request.user.cash.all.first.id %}onchange="update_start_sum(this.value)"
                                   {% else %}disabled{% endif %}>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Главная</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Продажи</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Касса</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12">
                    <div class="card overflow-hidden">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="article">Артикуль</label>
                                                <input name="article" type="text" class="form-control" id="article"
                                                       onchange="search_product(this.value)"
                                                       {% if not request.user.is_start or not request.user.cash.all.first.id %}disabled{% endif %}>
                                                <input type="hidden" class="form-control" value="1"
                                                       id="article_add"
                                                >
                                            </div>
                                            <div class="col-md-8"></div>
                                            <div class="col-md-3 ">
                                                <label for="title">Название</label>
                                                <input name="title" type="text" class="form-control" readonly
                                                       id="title">
                                            </div>
                                            <div class="col-md-3  ">
                                                <label for="price">Цена</label>
                                                <input name="price" type="number" class="form-control" readonly
                                                       id="price">
                                            </div>
                                            <div class="col-md-3 ">
                                                <label for="count">Количество</label>
                                                <input name="count" type="number" class="form-control" value="1"
                                                       id="count"
                                                       onchange="paste(document.getElementById('article').value)"
                                                        {% if not request.user.is_start or not request.user.cash.all.first.id %}
                                                       readonly
                                                        {% endif %}
                                                >
                                                <input type="hidden" class="form-control" value="1"
                                                       id="count_add"
                                                >

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <h3>Товары шт.</h3>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-striped table-lg">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Название</th>
                                                <th scope="col">Цена</th>
                                                <th scope="col">Количество</th>
                                                <th scope="col">Сумма</th>
                                                <th scope="col">Действие</th>
                                            </tr>
                                            </thead>
                                            <tbody id="data-table">
                                            {% if article_buy %}
                                                {% for key, value in article_buy.items %}
                                                    {% if not value.kg %}
                                                        <tr id="tr-{{ key }}">
                                                            <td class="num">{% if forloop.counter != 1 %}
                                                                {% minus forloop.counter 1 %}{% else %}1{% endif %}</td>
                                                            <td>{{ value.title }}</td>
                                                            <td>{{ value.price }}</td>
                                                            <td class="count">{{ value.count }}</td>
                                                            <td class="amount">{% multiply value.count value.price %}</td>
                                                            <td class="action">
                                                                <button class="btn btn-danger"
                                                                        onclick="remove_tr('{{ key }}')">
                                                                    Удалить
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <h3>Товары кг.</h3>
                                    <div class="table-responsive mt-4">
                                        <table class="table table-striped table-lg">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Название</th>
                                                <th scope="col">Цена</th>
                                                <th scope="col">Масса</th>
                                                <th scope="col">Сумма</th>
                                                <th scope="col">Действие</th>
                                            </tr>
                                            </thead>
                                            <tbody id="data-table-kg">
                                            {% if article_buy %}
                                                {% for key, value in article_buy.items %}
                                                    {% if value.kg %}
                                                        <tr id="tr-{{ key }}-kg">
                                                            <td class="num">{% if forloop.counter != 1 %}
                                                                {% minus forloop.counter 1 %}{% else %}1{% endif %}</td>
                                                            <td>{{ value.title }}</td>
                                                            <td>{{ value.price }}</td>
                                                            <td class="count">{{ value.count }}</td>
                                                            <td class="amount">{% multiply value.count value.price %}</td>
                                                            <td class="action">
                                                                <button class="btn btn-danger"
                                                                        onclick="remove_tr('{{ key }}', kg=true)">
                                                                    Удалить
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-3">
                                    <select name="payment_type" id="payment_type" class="form-control"
                                            {% if not request.user.is_start or not request.user.cash.all.first.id %}disabled{% endif %}>
                                        <option value="classic">Наличкой</option>
                                        <option value="card">Картой</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" class="float-start form-control" id="amount"
                                           placeholder="Введите сумму"
                                           value="{% correct_input full_amount %}" oninput="lease()"
                                           {% if not request.user.is_start or not request.user.cash.all.first.id %}disabled{% endif %}>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary float-end"
                                            {% if not request.user.is_start or not request.user.cash.all.first.id %}disabled{% endif %}
                                            onclick="buy()">Оплата
                                    </button>
                                </div>
                                <div class="col-md-5">
                                    <h3 class="float-end">Общая сумма: <span id="true_amount">{{ full_amount }}</span>
                                        сум</h3>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <h3 id="end-text">Сдача: 0 сум</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                    <div class="card overflow-hidden">
                        <div class="card-body pb-0 px-4 pt-4">
                            <div class="row">
                                <div class="col">
                                    <h5 class="mb-1" id="whosale">{{ whosale_amount|default:"0" }} сум</h5>
                                    <span class="text-success">Выручка</span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-wrapper">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="areaChart_2" class="chartjs-render-monitor" height="77" width="258"
                                    style="display: block; width: 258px; height: 77px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                    <div class="card bg-success	overflow-hidden">
                        <div class="card-body pb-0 px-4 pt-4">
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-white mb-1" id="sales_count">{{ sales_count|default:"0" }}</h5>
                                    <span class="text-white">Продажи</span>
                                </div>
                            </div>
                        </div>
                        <div class="chart-wrapper" style="width:100%">
                            <span class="peity-line" data-width="100%"
                                  style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                            <svg class="peity" height="100" width="400">
                                <polygon fill="rgba(32, 222, 166, 1)"
                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                <polyline fill="none"
                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                          stroke-linecap="square"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-header pb-3 border-0 pb-0">
                            <h5 class="text-white mb-1" id="get_always_full_amount"
                                style="font-size: 16px;"> {{ get_always_full_amount|default:"0" }} сум
                                <br>(наличных в кассах)
                            </h5>
                            <br>
                            <h5 style="font-size: 16px;" class="text-white mb-1">{{ retail_amount_card|default:"0" }}
                                сум <br>(оплачено
                                картой)
                            </h5>
                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                        </div>
                        <div class="card-body p-0">
                            <span class="peity-line-2" data-width="100%" style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                            <svg class="peity" height="150" width="100%">
                                <polygon fill="#fa707e"
                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                <polyline fill="none"
                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                          stroke="#f77f8b" stroke-width="3" stroke-linecap="square"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="check">

    </div>
{% endblock %}
{% block extra_js %}
    <script>

        function search_product(article) {
            let formData = new FormData()
            formData.append('article', article)
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            if (article.startsWith("2")) {
                formData.append('kg', true)
            }
            fetch('{% url 'search_product' %}', {
                method: 'post',
                body: formData,
            }).then(function (resp) {
                return resp.json()
            }).then(function (data) {
                if (data['msg']) {
                    alert(data['msg'])
                    document.getElementById('article').value = ''
                    return
                }
                document.getElementById('title').value = data['title']
                document.getElementById('price').value = data['price']
                if (data['count'] && data['full_amount']) {
                    let num;
                    console.log(data['kg'])
                    if (data['kg']) {
                        if (document.getElementById('data-table-kg').lastElementChild) {
                            num = parseInt(document.getElementById('data-table-kg').lastElementChild.getElementsByClassName('num')[0].textContent)
                        } else {
                            num = 0
                        }
                    } else {
                        if (document.getElementById('data-table').lastElementChild) {
                            num = parseInt(document.getElementById('data-table').lastElementChild.getElementsByClassName('num')[0].textContent)
                        } else {
                            num = 0
                        }
                    }
                    let elem;
                    if (data['kg']) {
                        elem = document.getElementById(`tr-${data['article']}-kg`)
                    } else {
                        elem = document.getElementById(`tr-${data['article']}`)
                    }
                    if (elem) {
                        elem.getElementsByClassName('count')[0].textContent = parseInt(elem.getElementsByClassName('count')[0].textContent) + 1
                        elem.getElementsByClassName('amount')[0].textContent = parseFloat(elem.getElementsByClassName('count')[0].textContent) * parseFloat(data['price'])
                        document.getElementById('article').value = ''
                    } else {
                        html = `
                        <tr id="tr-${data['article']}">
                           <td class="num">${num += 1}</td>
                           <td>${data['title']}</td>
                           <td>${data['price']}</td>
                           <td class="count">${data['count']}</td>
                           <td class="amount">${Math.round(parseInt(data['count']) * parseInt(data['price']))}</td>
                           <td class="action">
                               <button class="btn btn-danger" onclick="remove_tr('${data['article']}')">Удалить</button>
                           </td>
                        </tr>`
                        if (data['kg']) {
                            document.getElementById('data-table-kg').innerHTML += html
                        } else {
                            document.getElementById('data-table').innerHTML += html
                        }
                    }
                    document.getElementById('article').value = ''
                    document.getElementById('amount').value = data['full_amount']
                    document.getElementById('true_amount').textContent = data['full_amount']
                    document.getElementById('count').value = 1

                }

            })
        }

        function paste(article) {
            let formData = new FormData();

            formData.append("article", article);
            let count = document.getElementById('count').value
            formData.append('count', count)
            if (article.toString().startsWith("2")) {
                formData.append('kg', true)
            }
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            let num;
            if (document.getElementById('data-table').lastElementChild) {
                num = parseInt(document.getElementById('data-table').lastElementChild.getElementsByClassName('num')[0].textContent)
            } else {
                num = 0
            }
            fetch('{% url 'realtime-cash' %}', {
                method: 'post',
                body: formData,
            })
                .then(function (resp) {
                    return resp.json()
                })
                .then(function (data) {
                        if (data['kg'] || data['unit'] === 'kg') {
                            if (document.getElementById('data-table-kg').lastElementChild) {
                                num = parseInt(document.getElementById('data-table-kg').lastElementChild.getElementsByClassName('num')[0].textContent)
                            } else {
                                num = 0
                            }
                        }
                        if ('msg' in data) {
                            alert(data['msg'])
                            document.getElementById('article').value = ''
                            return
                        }
                        document.getElementById('title').value = data['title']
                        document.getElementById('price').value = data['price']
                        if (data['kg'] || data['unit'] === 'kg') {
                            document.getElementById('count').value = parseFloat(data['count']) * 1000
                        }
                        let elem;
                        if (data['kg'] || data['unit'] === 'kg') {
                            elem = document.getElementById(`tr-${data['article']}-kg`)
                        } else {
                            elem = document.getElementById(`tr-${data['article']}`)
                        }
                        if (elem) {
                            console.log(typeof data['kg'])
                            if (data['kg'] === false) {
                                elem.getElementsByClassName('count')[0].textContent = data['count']
                            }
                            let count = elem.getElementsByClassName('count')[0].textContent
                            if (data['kg'] || data['unit'] === 'kg') {
                                count = count.replace(',', '.')
                            }
                            elem.getElementsByClassName('amount')[0].textContent = parseFloat(count) * parseFloat(data['price'])
                        } else {
                            if (data['kg'] || data['unit'] === 'kg') {
                                html = `
                                    <tr id="tr-${data['article']}-kg">
                                       <td class="num">${num += 1}</td>
                                       <td>${data['title']}</td>
                                       <td>${data['price']}</td>
                                       <td class="count">${data['count']}</td>
                                       <td class="amount">${Math.round(parseFloat(data['count']) * parseFloat(data['price']))}</td>
                                       <td class="action">
                                           <button class="btn btn-danger" onclick="remove_tr('${data['article']}', kg=true)">Удалить</button>
                                       </td>
                                    </tr>`
                                document.getElementById('data-table-kg').innerHTML += html
                            } else {
                                html = `
                                    <tr id="tr-${data['article']}">
                                       <td class="num">${num += 1}</td>
                                       <td>${data['title']}</td>
                                       <td>${data['price']}</td>
                                       <td class="count">${data['count']}</td>
                                       <td class="amount">${parseInt(data['count']) * parseInt(data['price'])}</td>
                                       <td class="action">
                                           <button class="btn btn-danger" onclick="remove_tr('${data['article']}')">Удалить</button>
                                       </td>
                                    </tr>`
                                document.getElementById('data-table').innerHTML += html
                            }
                        }
                        document.getElementById('amount').value = data['full_amount']
                        document.getElementById('true_amount').textContent = data['full_amount']
                        document.getElementById('count').value = 1
                        {#document.getElementById('sales_count').textContent = data['sales_count']#}
                        {#document.getElementById('get_always_full_amount').textContent = data['get_always_full_amount']#}
                        {#document.getElementById('whosale').textContent = data['whosale_amount']#}
                        document.getElementById('article').value = ''

                    }
                )

        }

        function buy() {
            let formData = new FormData();

            let amount = document.getElementById('amount').value
            let payment_type = document.getElementById('payment_type').value

            formData.append("amount", amount);
            formData.append("payment_type", payment_type);
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

            fetch('{% url 'buy-cash' %}', {
                method: 'post',
                body: formData,
            })
                .then(function (resp) {
                    return resp.json()
                })
                .then(function (data) {
                    if ('error' in data) {
                        alert(data['error'])
                        return
                    }
                    document.getElementById('end-text').textContent = ''
                    document.getElementById('data-table').innerHTML = ``
                    document.getElementById('true_amount').textContent = 0
                    document.getElementById('amount').value = 0
                    document.getElementById('article').value = ''
                    document.getElementById('title').value = ''
                    document.getElementById('price').value = ''
                    document.getElementById('count').value = ''
                    let html = `
                            *******************
                            <br>
                            ${data['data']['company_name']}
                            <br>
                            *******************
                            <br>
                            <br>
                            Дата:  ${data['data']['today']}
                            <br>
                            Кассир:  ${data['data']['username']}
                            <br>
                            Касса: № ${data['data']['cash_id']}
                            <br>
                            <br>
                            <table>
                                <thead>
                                    <tr>
                                        <th style="font-size: 10px;">Название</th>
                                        <th style="font-size: 10px;">Количество</th>
                                        <th style="font-size: 10px;" ">Сумма</th>
                                    </tr>
                                </thead>
                                <tbody id='data-table'>
                                </tbody>
                            </table>
                            <br>
                            Общая сумма: ${data['data']['full_amount']} сум
                            <br>
                            Сдача: ${data['data']['amount']} сум
                            <br>
                            Спасибо за покупку!
                            <br>
                    `

                    document.getElementById('check').innerHTML = html
                    let w = window.open('', 'printform', 'width=700,height=700');
                    let html2 = $("#check").html();
                    $(w.document.body).html(html2);
                    for (let index in data['data']['products']) {
                        w.document.getElementById('data-table').innerHTML += `
                        <tr>
                           <td style="font-size: 10px;">${data['data']['products'][index]['title']}</td>
                           <td style="font-size: 10px;">${data['data']['products'][index]['count']}</td>
                           <td style="font-size: 10px;">${data['data']['products'][index]['amount']}</td>
                        </tr>`
                    }
                    w.print();
                    w.close()
                    location.reload(true)
                })

        }

        function lease() {
            let amount = document.getElementById('amount').value
            let true_amount = document.getElementById('true_amount').textContent
            if ((parseInt(amount) - parseInt(true_amount) >= 0)) {
                document.getElementById('end-text').textContent = `Сдача: ${parseInt(amount) - parseInt(true_amount)}  сум`
            } else {
                document.getElementById('end-text').textContent = `Недосдача: ${(parseInt(amount) - parseInt(true_amount)) * -1}  сум`
            }

        }

        function start_work() {
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            fetch('{% url 'start_work-cash' %}', {
                method: 'post',
                body: formData,
            }).then(function (resp) {
                return resp.json()
            }).then(function (data) {
                location.reload()
            })

        }

        function end_work() {
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            fetch('{% url 'end_work-cash' %}', {
                method: 'post',
                body: formData,
            }).then(function (resp) {
                return resp.json()
            }).then(function (data) {
                let html = `
                        <h1>Выручка</h1>
                        <p>{{ whosale_amount }} сум</p>
                        <h1>Продажи</h1>
                        <p>{{ sales_count }} сум</p>
                        <h1>Наличных в кассах</h1>
                        <p>{{ get_always_full_amount }} сум</p>
                        <h1>Оплачено картой</h1>
                        <p>{{ retail_amount_card }} сум</p>
                    `

                document.getElementById('check').innerHTML = html
                let w = window.open('', 'printform', 'width=700,height=700');
                let html2 = $("#check").html();
                $(w.document.body).html(html2);
                w.print();
                w.close()
                location.reload(true)
            })

        }

        {#function add_product() {#}
        {#    if (document.getElementById('data-table').lastElementChild) {#}
        {#        num = parseInt(document.getElementById('data-table').lastElementChild.getElementsByClassName('num')[0].textContent)#}
        {#    } else {#}
        {#        num = 0#}
        {#    }#}
        {#    let html = `#}
        {#    <tr id="tr-${num + 1}">#}
        {#       <td class="num">${num += 1}</td>#}
        {#       <td class="title"><input type="text" class=form-control></td>#}
        {#       <td class="price"><input type="number" class=form-control></td>#}
        {#       <td class="count"><input type="number" class=form-control></td>#}
        {#       <td class="amount"><a class="btn btn-primary" onclick="add_to_server(${num})">Добавить</a></td>#}
        {#       <td class="action">#}
        {#           <button class="btn btn-danger" onclick="remove_tr(${num})">Удалить</button>#}
        {#       </td>#}
        {#    </tr>`#}
        {#    document.getElementById('data-table').innerHTML += html#}

        {##}
        {#function add_to_server(num) {#}
        {#    let table = document.getElementById(`tr-${num}`)#}
        {#    let title = table.getElementsByClassName('title')[0].getElementsByTagName('input')[0].value#}
        {#    table.id = `tr-${title}`#}
        {#    table.getElementsByClassName('action')[0].getElementsByTagName('button')[0].setAttribute("onClick", `remove_tr("${title}")`);#}
        {#    let price = table.getElementsByClassName('price')[0].getElementsByTagName('input')[0].value#}
        {#    let count = table.getElementsByClassName('count')[0].getElementsByTagName('input')[0].value#}
        {#    table.getElementsByClassName('title')[0].getElementsByTagName('input')[0].remove()#}
        {#    table.getElementsByClassName('price')[0].getElementsByTagName('input')[0].remove()#}
        {#    table.getElementsByClassName('count')[0].getElementsByTagName('input')[0].remove()#}
        {#    table.getElementsByClassName('amount')[0].getElementsByTagName('a')[0].remove()#}
        {##}
        {#    let formData = new FormData();#}
        {#    formData.append("title", title);#}
        {#    formData.append("price", price);#}
        {#    formData.append("count", count);#}
        {#    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");#}
        {##}
        {#    fetch('{% url 'add_product-cash' %}', {#}
        {#        method: 'post',#}
        {#        body: formData,#}
        {#    })#}
        {#        .then(function (resp) {#}
        {#            return resp.json()#}
        {#        })#}
        {#        .then(function (data) {#}
        {#            table.getElementsByClassName('title')[0].textContent = data['title']#}
        {#            table.getElementsByClassName('count')[0].textContent = data['count']#}
        {#            table.getElementsByClassName('price')[0].textContent = data['price']#}
        {#            table.getElementsByClassName('amount')[0].textContent = data['amount']#}
        {#            document.getElementById('true_amount').textContent = parseInt(document.getElementById('true_amount').textContent) + data['amount']#}
        {#            document.getElementById('amount').value = parseInt(document.getElementById('amount').value) + data['amount']#}
        {#        })#}
        {##}


        function remove_tr(key, kg = false) {
            if (kg === true) {
                let amount = document.getElementById(`tr-${key}-kg`).getElementsByClassName('amount')[0].textContent
                document.getElementById('amount').value = parseInt(document.getElementById('amount').value) - parseInt(amount)
                document.getElementById('true_amount').textContent = parseInt(document.getElementById('true_amount').textContent) - parseInt(amount)
                document.getElementById(`tr-${key}-kg`).remove()
                let t = document.getElementById('data-table-kg');
                let trs = t.children;

                for (let i = 0; i < trs.length; i++) {
                    let tds = trs[i];
                    if (tds.getElementsByClassName('num')[0].textContent != 1) {
                        tds.getElementsByClassName('num')[0].textContent = parseInt(tds.getElementsByClassName('num')[0].textContent) - 1
                    }
                }
                let formData = new FormData();
                formData.append('key', key)
                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                fetch('{% url 'remove_product-cash' %}', {
                    method: 'post',
                    body: formData,
                })
            } else {
                let amount = document.getElementById(`tr-${key}`).getElementsByClassName('amount')[0].textContent
                document.getElementById('amount').value = parseInt(document.getElementById('amount').value) - parseInt(amount)
                document.getElementById('true_amount').textContent = parseInt(document.getElementById('true_amount').textContent) - parseInt(amount)
                document.getElementById(`tr-${key}`).remove()
                let t = document.getElementById('data-table');
                let trs = t.children;

                for (let i = 0; i < trs.length; i++) {
                    let tds = trs[i];
                    if (tds.getElementsByClassName('num')[0].textContent != 1) {
                        tds.getElementsByClassName('num')[0].textContent = parseInt(tds.getElementsByClassName('num')[0].textContent) - 1
                    }
                }
                let formData = new FormData();
                formData.append('key', key)
                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                fetch('{% url 'remove_product-cash' %}', {
                    method: 'post',
                    body: formData,
                })
            }
        }

        function update_start_sum(amount) {
            let formData = new FormData()
            formData.append('amount', amount)
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            fetch('{% url 'update_start_sum' %}', {
                method: 'post',
                body: formData,
            }).then(function (resp) {
                return resp.json()
            }).then(function (data) {
                location.reload()
            })
        }

        function set_cash(cash) {
            let formData = new FormData()
            formData.append('cash', cash)
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
            fetch('{% url 'set_cash' %}', {
                method: 'post',
                body: formData,
            }).then(function (resp) {
                return resp.json()
            }).then(function (data) {
                location.reload()
            })
        }

    </script>
{% endblock %}