{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Главная</h4>
                        <span>Рады видеть вас снова <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: none">Отчетность по кассам</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="nav flex-column nav-pills mb-3">
                                        <a href="#v-pills-yesterday" data-toggle="pill" class="nav-link">Вчера</a>
                                        <a href="#v-pills-home" data-toggle="pill"
                                           class="nav-link {% if not start_date %}active show{% endif %}">За день</a>
                                        <a href="#v-pills-profile" data-toggle="pill" class="nav-link">За неделю</a>
                                        <a href="#v-pills-messages" data-toggle="pill" class="nav-link">За месяц</a>
                                        <a href="#v-pills-settings" data-toggle="pill" class="nav-link">За год</a>
                                        <a href="#v-pills-date" data-toggle="pill"
                                           class="nav-link {% if start_date %}active show{% endif %}">Своя дата</a>
                                    </div>
                                </div>
                                <div class="col-xl-9">
                                    <div class="tab-content">
                                        <div id="v-pills-yesterday" class="tab-pane fade ">
                                            <div class="row">
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="mb-1">{{ yesterday_whosale_amount }}
                                                                        сум</h5>
                                                                    <span class="text-success">Выручка</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="areaChart_26" class="chartjs-render-monitor"
                                                                    height="77"
                                                                    width="258"
                                                                    style="display: block; width: 258px; height: 77px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-success	overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="text-white mb-1">{{ yesterday_retail_amount_card }}</h5>
                                                                    <span class="text-white">Продажи</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                            <svg class="peity" height="100" width="400">
                                                                <polygon fill="rgba(32, 222, 166, 1)"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6">
                                                    <div class="widget-stat card bg-danger">
                                                        <div class="card-header pb-3 border-0 pb-0">
                                                            <h3 class="card-title text-white"
                                                                style="text-transform: none">{{ yesterday_middle_receipt }}
                                                                <span>сум</span>
                                                                <br>Средний чек</h3>
                                                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <span class="peity-line-2" data-width="100%"
                                                                  style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                                                            <svg class="peity" height="150" width="100%">
                                                                <polygon fill="#fa707e"
                                                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                                                          stroke="#f77f8b" stroke-width="3"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-primary overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col text-white">
                                                                    <h5 class="text-white mb-1">{{ yesterday_get_always_full_amount }}
                                                                        сум <span style="font-size: 13px;">(наличных в кассах)</span>
                                                                    </h5>
                                                                    <h5 class="text-white mb-1">{{ yesterday_get_always_full_amount }}
                                                                        сум <span
                                                                                style="font-size: 13px;">(оплачено картой)</span>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper px-2">
                                                            <svg class="peity">
                                                                <polygon fill="#5a8aed"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="#5a8aed" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="v-pills-home"
                                             class="tab-pane fade {% if not start_date %}active show{% endif %}">
                                            <div class="row">
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="mb-1">{{ whosale_amount }} сум</h5>
                                                                    <span class="text-success">Выручка</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="areaChart_2" class="chartjs-render-monitor"
                                                                    height="77"
                                                                    width="258"
                                                                    style="display: block; width: 258px; height: 77px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-success	overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="text-white mb-1">{{ sales_count }}</h5>
                                                                    <span class="text-white">Продажи</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper" style="width:100%">
                                                                <span class="peity-line" data-width="100%"
                                                                      style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                            <svg class="peity" height="100" width="400">
                                                                <polygon fill="rgba(32, 222, 166, 1)"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6">
                                                    <div class="widget-stat card bg-danger">
                                                        <div class="card-header pb-3 border-0 pb-0">
                                                            <h3 class="card-title text-white"
                                                                style="text-transform: none">{{ middle_receipt }} <span>сум</span>
                                                                <br>Средний чек</h3>
                                                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <span class="peity-line-2" data-width="100%"
                                                                  style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                                                            <svg class="peity" height="150" width="100%">
                                                                <polygon fill="#fa707e"
                                                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                                                          stroke="#f77f8b" stroke-width="3"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-primary overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col text-white">
                                                                    <h5 class="text-white mb-1">{{ get_always_full_amount }}
                                                                        сум <span style="font-size: 13px;">(наличных в кассах)</span>
                                                                    </h5>
                                                                    <h5 class="text-white mb-1">{{ retail_amount_card }}
                                                                        сум <span
                                                                                style="font-size: 13px;">(оплачено картой)</span>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper px-2">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="chart_widget_2" height="100" width="290"
                                                                    style="display: block; width: 290px; height: 100px;"
                                                                    class="chartjs-render-monitor"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="v-pills-profile" class="tab-pane fade">
                                            <div class="row">

                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="mb-1">{{ week_whosale_amount }} сум</h5>
                                                                    <span class="text-success">Выручка</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="areaChart_22" class="chartjs-render-monitor"
                                                                    height="77"
                                                                    width="258"
                                                                    style="display: block; width: 258px; height: 77px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-success	overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="text-white mb-1">{{ week_sales_count }}</h5>
                                                                    <span class="text-white">Продажи</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper" style="width:100%">
                            <span class="peity-line" data-width="100%"
                                  style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                            <svg class="peity" height="100" width="400">
                                                                <polygon fill="rgba(32, 222, 166, 1)"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6">
                                                    <div class="widget-stat card bg-danger">
                                                        <div class="card-header pb-3 border-0 pb-0">
                                                            <h3 class="card-title text-white"
                                                                style="text-transform: none">{{ week_middle_receipt }}
                                                                <span>сум</span>
                                                                <br>Средний чек</h3>
                                                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <span class="peity-line-2" data-width="100%"
                                                                  style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                                                            <svg class="peity" height="150" width="100%">
                                                                <polygon fill="#fa707e"
                                                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                                                          stroke="#f77f8b" stroke-width="3"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-primary overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col text-white">
                                                                    <h5 class="text-white mb-1">{{ week_get_always_full_amount }}
                                                                        сум</h5>
                                                                    <span>Сумма продаж</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper px-2">
                                                            <svg class="peity">
                                                                <polygon fill="#5a8aed"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="#5a8aed" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="v-pills-messages" class="tab-pane fade">
                                            <div class="row">

                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="mb-1">{{ month_whosale_amount }} сум</h5>
                                                                    <span class="text-success">Выручка</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="areaChart_23" class="chartjs-render-monitor"
                                                                    height="77"
                                                                    width="258"
                                                                    style="display: block; width: 258px; height: 77px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-success	overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="text-white mb-1">{{ month_sales_count }}</h5>
                                                                    <span class="text-white">Продажи</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper" style="width:100%">
                                                        <span class="peity-line" data-width="100%"
                                                              style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                            <svg class="peity" height="100" width="400">
                                                                <polygon fill="rgba(32, 222, 166, 1)"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6">
                                                    <div class="widget-stat card bg-danger">
                                                        <div class="card-header pb-3 border-0 pb-0">
                                                            <h3 class="card-title text-white"
                                                                style="text-transform: none">{{ month_middle_receipt }}
                                                                <span>сум</span>
                                                                <br>Средний чек</h3>
                                                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <span class="peity-line-2" data-width="100%"
                                                                  style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                                                            <svg class="peity" height="150" width="100%">
                                                                <polygon fill="#fa707e"
                                                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                                                          stroke="#f77f8b" stroke-width="3"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-primary overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col text-white">
                                                                    <h5 class="text-white mb-1">{{ month_get_always_full_amount }}
                                                                        сум</h5>
                                                                    <span>Сумма продаж</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper px-2">
                                                            <svg class="peity">
                                                                <polygon fill="#5a8aed"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="#5a8aed" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="v-pills-settings" class="tab-pane fade">
                                            <div class="row">

                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="mb-1">{{ year_whosale_amount }} сум</h5>
                                                                    <span class="text-success">Выручка</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="areaChart_24" class="chartjs-render-monitor"
                                                                    height="77"
                                                                    width="258"
                                                                    style="display: block; width: 258px; height: 77px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-success	overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="text-white mb-1">{{ year_sales_count }}</h5>
                                                                    <span class="text-white">Продажи</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper" style="width:100%">
                            <span class="peity-line" data-width="100%"
                                  style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                            <svg class="peity" height="100" width="400">
                                                                <polygon fill="rgba(32, 222, 166, 1)"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6">
                                                    <div class="widget-stat card bg-danger">
                                                        <div class="card-header pb-3 border-0 pb-0">
                                                            <h3 class="card-title text-white"
                                                                style="text-transform: none">{{ year_middle_receipt }}
                                                                <span>сум</span>
                                                                <br>Средний чек</h3>
                                                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <span class="peity-line-2" data-width="100%"
                                                                  style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                                                            <svg class="peity" height="150" width="100%">
                                                                <polygon fill="#fa707e"
                                                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                                                          stroke="#f77f8b" stroke-width="3"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-primary overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col text-white">
                                                                    <h5 class="text-white mb-1">{{ year_get_always_full_amount }}
                                                                        сум</h5>
                                                                    <span>Сумма продаж</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper px-2">
                                                            <svg class="peity">
                                                                <polygon fill="#5a8aed"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="#5a8aed" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="v-pills-date"
                                             class="tab-pane fade {% if start_date %}active show{% endif %}">
                                            <div class="row">
                                                <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12 mb-5">
                                                    <form action="{% url 'home' %}">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <input class="form-control "
                                                                       type="date" name="start_date"
                                                                       value="{{ start_date }}" required>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input class="form-control"
                                                                       type="date" name="end_date"
                                                                       value="{{ end_date }}" required>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <button class="btn btn-primary" type="submit">Найти
                                                                </button>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a class="btn btn-danger" href="{% url 'home' %}">Сбросить</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="mb-1">{{ period_whosale_amount|default:0 }}
                                                                        сум</h5>
                                                                    <span class="text-success">Выручка</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper">
                                                            <div class="chartjs-size-monitor">
                                                                <div class="chartjs-size-monitor-expand">
                                                                    <div class=""></div>
                                                                </div>
                                                                <div class="chartjs-size-monitor-shrink">
                                                                    <div class=""></div>
                                                                </div>
                                                            </div>
                                                            <canvas id="areaChart_244" class="chartjs-render-monitor"
                                                                    height="77"
                                                                    width="258"
                                                                    style="display: block; width: 258px; height: 77px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-success	overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5 class="text-white mb-1">{{ period_sales_count|default:0 }}</h5>
                                                                    <span class="text-white">Продажи</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper" style="width:100%">
                                                        <span class="peity-line" data-width="100%"
                                                              style="display: none;">6,2,8,4,3,8,4,3,6,5,9,2</span>
                                                            <svg class="peity" height="100" width="400">
                                                                <polygon fill="rgba(32, 222, 166, 1)"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="rgb(70, 255, 200)" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6">
                                                    <div class="widget-stat card bg-danger">
                                                        <div class="card-header pb-3 border-0 pb-0">
                                                            <h3 class="card-title text-white"
                                                                style="text-transform: none">{{ period_middle_receipt|default:0 }}
                                                                <span>сум</span>
                                                                <br>Средний чек</h3>
                                                            {#                            <h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> </h5>#}
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <span class="peity-line-2" data-width="100%"
                                                                  style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span>
                                                            <svg class="peity" height="150" width="100%">
                                                                <polygon fill="#fa707e"
                                                                         points="0 148.5 0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343 369.5 148.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 34.16666666666667 30.791666666666668 50.5 61.583333333333336 17.833333333333343 92.375 34.16666666666667 123.16666666666667 99.5 153.95833333333334 17.833333333333343 184.75 99.5 215.54166666666669 99.5 246.33333333333334 50.5 277.125 66.83333333333333 307.9166666666667 1.5 338.70833333333337 115.83333333333334 369.5 17.833333333333343"
                                                                          stroke="#f77f8b" stroke-width="3"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="card bg-primary overflow-hidden">
                                                        <div class="card-body pb-0 px-4 pt-4">
                                                            <div class="row">
                                                                <div class="col text-white">
                                                                    {% if period_retail_amount_card and period_get_always_full_amount or period_retail_amount_card == 0 %}
                                                                        <div class="col text-white">
                                                                            <h5 class="text-white mb-1">{{ period_get_always_full_amount }}
                                                                                сум <br><span style="font-size: 13px;">(наличных в кассах)</span>
                                                                            </h5>
                                                                            <h5 class="text-white mb-1">{{ period_retail_amount_card }}
                                                                                сум <br><span
                                                                                        style="font-size: 13px;">(оплачено картой)</span>
                                                                            </h5>
                                                                        </div>
                                                                    {% else %}
                                                                        <h5 class="text-white mb-1">{{ period_get_always_full_amount|default:0 }}
                                                                            сум</h5>
                                                                        <span>Сумма продаж</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="chart-wrapper px-2">
                                                            <svg class="peity">
                                                                <polygon fill="#5a8aed"
                                                                         points="0 99.5 0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5 400 99.5"></polygon>
                                                                <polyline fill="none"
                                                                          points="0 33.5 36.36363636363637 77.5 72.72727272727273 11.5 109.0909090909091 55.5 145.45454545454547 66.5 181.81818181818184 11.5 218.1818181818182 55.5 254.54545454545456 66.5 290.90909090909093 33.5 327.2727272727273 44.5 363.6363636363637 0.5 400.00000000000006 77.5"
                                                                          stroke="#5a8aed" stroke-width="1"
                                                                          stroke-linecap="square"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">#}
                {#                        <div id="user-activity" class="card">#}
                {#                            <div class="card-header border-0 pb-0 d-sm-flex d-block">#}
                {#                                <div>#}
                {#                                    <h4 class="card-title">History 2013 - 2020</h4>#}
                {#                                    <p class="mb-1">Lorem Ipsum is simply dummy text of the printing</p>#}
                {#                                </div>#}
                {#                                <div class="card-action">#}
                {#                                    <ul class="nav nav-tabs" role="tablist">#}
                {#                                        <li class="nav-item">#}
                {#                                            <a class="nav-link active" data-toggle="tab" href="#user" role="tab">#}
                {#                                                Day#}
                {#                                            </a>#}
                {#                                        </li>#}
                {#                                        <!-- <li class="nav-item">#}
                {#                                            <a class="nav-link" data-toggle="tab" href="#session" role="tab">#}
                {#                                                Week#}
                {#                                            </a>#}
                {#                                        </li> -->#}
                {#                                        <li class="nav-item">#}
                {#                                            <a class="nav-link" data-toggle="tab" href="#bounce" role="tab">#}
                {#                                                Month#}
                {#                                            </a>#}
                {#                                        </li>#}
                {#                                        <li class="nav-item">#}
                {#                                            <a class="nav-link" data-toggle="tab" href="#session-duration" role="tab">#}
                {#                                                Year#}
                {#                                            </a>#}
                {#                                        </li>#}
                {#                                    </ul>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <div class="card-body">#}
                {#                                <div class="tab-content" id="myTabContent">#}
                {#                                    <div class="tab-pane fade show active" id="user" role="tabpanel">#}
                {#                                        <div class="chartjs-size-monitor">#}
                {#                                            <div class="chartjs-size-monitor-expand">#}
                {#                                                <div class=""></div>#}
                {#                                            </div>#}
                {#                                            <div class="chartjs-size-monitor-shrink">#}
                {#                                                <div class=""></div>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                        <canvas id="activity" class="chartjs chartjs-render-monitor" height="270"#}
                {#                                                style="display: block; width: 679px; height: 270px;"#}
                {#                                                width="679"></canvas>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">График</h4>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills justify-content-end mb-4">
                                <li class=" nav-item">
                                    <a href="#navpills2-1"
                                       class="nav-link {% if not graphic_start_date %} active {% endif %}"
                                       data-toggle="tab"
                                       aria-expanded="false">За неделю</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#navpills2-2" class="nav-link" data-toggle="tab" aria-expanded="false">За
                                        месяц</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#navpills2-3" class="nav-link" data-toggle="tab" aria-expanded="true">За
                                        год</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#navpills2-4"
                                       class="nav-link {% if graphic_start_date %} active {% endif %}" data-toggle="tab"
                                       aria-expanded="true">Своя дата</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="navpills2-1"
                                     class="tab-pane {% if not graphic_start_date %} active {% endif %}">
                                    <div class="row">
                                        <canvas id="barChart_1"></canvas>
                                    </div>
                                </div>
                                <div id="navpills2-2" class="tab-pane">
                                    <div class="row">
                                        <canvas id="barChart_2"></canvas>
                                    </div>
                                </div>
                                <div id="navpills2-3" class="tab-pane">
                                    <div class="row">
                                        <canvas id="areaChart_2222"></canvas>
                                    </div>
                                </div>
                                <div id="navpills2-4" class="tab-pane {% if graphic_start_date %} active {% endif %}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form action="{% url 'home' %}">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <input class="form-control float-right"
                                                               type="date" name="graphic_start_date"
                                                               value="{{ graphic_start_date }}" required>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input class="form-control float-right"
                                                               type="date" name="graphic_end_date"
                                                               value="{{ graphic_end_date }}" required>
                                                    </div>

                                                    <div class="col-md-1 ">
                                                        <button class="btn btn-primary float-right" type="submit">Найти
                                                        </button>
                                                    </div>
                                                    <div class="col-md-1 ">
                                                        <a class="btn btn-danger float-left" href="{% url 'home' %}">Сбросить</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <canvas id="areaChart_22222"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header border-0 pb-0">
                            <h4 class="card-title" style="text-transform: none">Самые продаваемые товары</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm mb-0 table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width:20px;">
                                            #
                                        </th>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Артикуль</strong></th>
                                        <th><strong>Цена оптом</strong></th>
                                        <th><strong>Цена в розницу</strong></th>
                                        <th><strong>Выручка</strong></th>
                                        <th><strong>Количество продаж</strong></th>
                                        <th><strong>Осталось</strong></th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td><a href="{% url 'product_detail' product.id %}?delivery_warehouse={{ warehouse.id }}">{{ product.title }}</a>
                                            </td>
                                            <td>{{ product.article }}</td>
                                            <td>{{ product.wholesale_price }}</td>
                                            <td>{{ product.retail_price }}</td>
                                            <td>{{ product.difference }}</td>
                                            <td>{{ product.purchased }}</td>
                                            <td>{{ product.remainder }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                {#                <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">#}
                {#                    <div class="card overflow-hidden">#}
                {#                        <div class="card-body px-4 py-4">#}
                {#                            <h5 class="mb-3">1700 / <small class="text-primary">Sales Status</small></h5>#}
                {#                            <div class="chart-point">#}
                {#                                <div class="check-point-area">#}
                {#                                    <div class="chartjs-size-monitor">#}
                {#                                        <div class="chartjs-size-monitor-expand">#}
                {#                                            <div class=""></div>#}
                {#                                        </div>#}
                {#                                        <div class="chartjs-size-monitor-shrink">#}
                {#                                            <div class=""></div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <canvas id="ShareProfit2" width="100" height="100"#}
                {##}
                {#                                            class="chartjs-render-monitor"></canvas>#}
                {#                                </div>#}
                {#                                <ul class="chart-point-list">#}
                {#                                    <li><i class="fa fa-circle text-primary mr-1"></i> 40% Tickets</li>#}
                {#                                    <li><i class="fa fa-circle text-success mr-1"></i> 35% Events</li>#}
                {#                                    <li><i class="fa fa-circle text-warning mr-1"></i> 25% Other</li>#}
                {#                                </ul>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <!--**********************************
                    Content body end
                ***********************************-->
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    {#    <script src="{% static 'js/deznav-init.js' %}"></script>#}

    {##}
    {#    <script src="{% static 'vendor/flot/jquery.flot.js' %}"></script>#}
    {#    <script src="{% static 'vendor/flot/jquery.flot.pie.js' %}"></script>#}
    {#    <script src="{% static 'vendor/flot/jquery.flot.resize.js' %}"></script>#}
    {#    <script src="{% static 'vendor/flot-spline/jquery.flot.spline.min.js' %}"></script>#}


    <script>
        let newCust2 = {{ graphic }};

        const barChart_1 = document.getElementById("barChart_1").getContext('2d');

        new Chart(barChart_1, {
            type: 'bar',
            data: {
                defaultFontFamily: 'Poppins',
                labels: [{% for graphic in graphic_labels %}"{{ graphic }}", {% endfor %}],
                datasets: [
                    {
                        label: "Продаж",
                        data: newCust2,
                        borderColor: 'rgba(58, 122, 254, 1)',
                        borderWidth: "0",
                        backgroundColor: 'rgba(58, 122, 254, 1)'
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        // Change here
                        barPercentage: 0.5
                    }]
                }
            }
        });

        let newCust3 = {{ month_graphic }};

        barChart_2.height = 100;

        new Chart(barChart_2, {
            type: 'line',
            data: {
                defaultFontFamily: 'Poppins',
                labels: [{% for graphic in month_graphic_labels %}"{{ graphic }}", {% endfor %}],
                datasets: [
                    {
                        label: "Продаж",
                        data: newCust3,
                        borderColor: 'rgba(56, 164, 248, 1)',
                        borderWidth: "2",
                        backgroundColor: 'transparent',
                        pointBackgroundColor: 'rgba(56, 164, 248, 1)'
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0,
                            stepSize: 20,
                            padding: 10
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            padding: 5
                        }
                    }]
                }
            }
        });

        const areaChart_2 = document.getElementById("areaChart_2222").getContext('2d');
        //generate gradient
        const areaChart_2gradientStroke = areaChart_2.createLinearGradient(0, 1, 0, 500);
        areaChart_2gradientStroke.addColorStop(0, "rgba(242, 87, 103, 0.2)");
        areaChart_2gradientStroke.addColorStop(1, "rgba(242, 87, 103, 0)");

        areaChart_2.height = 100;

        new Chart(areaChart_2, {
            type: 'line',
            data: {
                defaultFontFamily: 'Poppins',
                labels: [{% for graphic in year_graphic_labels %}"{{ graphic }}", {% endfor %}],
                datasets: [
                    {
                        label: "Продаж:",
                        data: {{ year_graphic }},
                        borderColor: "#f25767",
                        borderWidth: "4",
                        backgroundColor: areaChart_2gradientStroke
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0,
                            stepSize: 20,
                            padding: 5
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            padding: 5
                        }
                    }]
                }
            }
        });


        const areaChart_3 = document.getElementById("areaChart_22222").getContext('2d');
        //generate gradient
        const areaChart_3gradientStroke = areaChart_3.createLinearGradient(0, 1, 0, 500);
        areaChart_3gradientStroke.addColorStop(0, "rgba(242, 87, 103, 0.2)");
        areaChart_3gradientStroke.addColorStop(1, "rgba(242, 87, 103, 0)");

        areaChart_3.height = 100;

        new Chart(areaChart_3, {
            type: 'line',
            data: {
                defaultFontFamily: 'Poppins',
                labels: {% if date_graphic_labels  %}[
                    {% for graphic in date_graphic_labels %}"{{ graphic }}", {% endfor %}] {% else %}[]{% endif %},
                datasets: [
                    {
                        label: "Продаж: ",
                        data: {% if date_graphic  %}{{ date_graphic }}{% else %}[]{% endif %},
                        borderColor: "#f25767",
                        borderWidth: "4",
                        backgroundColor: areaChart_3gradientStroke
                    }
                ]
            },
            options: {
                legend: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100,
                            min: 0,
                            stepSize: 20,
                            padding: 5
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            padding: 5
                        }
                    }]
                }
            }
        });
    </script>
    <style>
        .legendLabel {
            color: black;
        }
    </style>

    <script>
        function create_area(elem, data = [60, 80, 60, 40, 70, 55, 95], labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"]) {
            const areaChart_2 = elem.getContext('2d');
            //generate gradient
            const areaChart_2gradientStroke = areaChart_2.createLinearGradient(0, 1, 0, 500);
            areaChart_2gradientStroke.addColorStop(0, "rgba(16, 202, 147, 0.1)");
            areaChart_2gradientStroke.addColorStop(1, "rgba(16, 202, 147, 0)");

            areaChart_2.height = 50;

            new Chart(areaChart_2, {
                type: 'line',
                data: {
                    defaultFontFamily: 'Poppins',
                    labels: labels,
                    datasets: [
                        {
                            label: "My First dataset",
                            data: data,
                            borderColor: "#10ca93",
                            borderWidth: "3",
                            backgroundColor: areaChart_2gradientStroke
                        }
                    ]
                },
                options: {

                    tooltips: {
                        enabled: false,
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    },
                    legend: false,
                    scales: {
                        yAxes: [{

                            ticks: {
                                beginAtZero: true,
                                max: 100,
                                min: 0,
                                stepSize: 10,
                                padding: 2
                            },
                            display: false,
                        }],
                        xAxes: [{
                            ticks: {
                                padding: 2
                            },
                            display: false,
                        }]
                    }
                }
            });
        }


        create_area(document.getElementById('areaChart_22'))
        create_area(document.getElementById('areaChart_23'))
        create_area(document.getElementById('areaChart_24'))
        create_area(document.getElementById('areaChart_26'))
        create_area(document.getElementById('areaChart_244'))
        {#create_area(document.getElementById('areaChart_2222'), data={{ year_graphic }}, labels=[{% for graphic in year_graphic_labels %}"{{ graphic }}", {% endfor %}])#}
    </script>
{% endblock %}