{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Blaze Trade</title>
    <!-- Favicon icon -->
    {#    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">#}
    <link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist.min.css' %}">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}

</head>

<body data-theme-version="{{ theme }}">

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" style="width: 15rem">
        <a href="/" class="brand-logo {% if theme != 'dark' %}bg-primary {% endif %}" style="justify-content: center">
            <h3 class="text-white">{{ company.title }}</h3>
            {#            <img class="logo-abbr" src="{% static 'images/logo-white.png' %}" alt="">#}
            {#            <img class="logo-compact" src="../core/static/images/logo-text-white.png" alt="">#}
            {#            <img class="brand-title" src="../core/static/images/logo-text-white.png" alt="">#}
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
Chat box start
***********************************-->
    {#    <div class="chatbox">#}
    {#        <div class="chatbox-close"></div>#}
    {#        <div class="custom-tab-1">#}
    {#            <ul class="nav nav-tabs">#}
    {#                <li class="nav-item">#}
    {#                    <a class="nav-link" data-toggle="tab" href="#notes">Notes</a>#}
    {#                </li>#}
    {#                <li class="nav-item">#}
    {#                    <a class="nav-link" data-toggle="tab" href="#alerts">Alerts</a>#}
    {#                </li>#}
    {#                <li class="nav-item">#}
    {#                    <a class="nav-link active" data-toggle="tab" href="#chat">Chat</a>#}
    {#                </li>#}
    {#            </ul>#}
    {#            <div class="tab-content">#}
    {#                <div class="tab-pane fade active show" id="chat" role="tabpanel">#}
    {#                    <div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">#}
    {#                        <div class="card-header chat-list-header text-center">#}
    {#                            <a href="#">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>#}
    {#                                        <rect fill="#000000" opacity="0.3"#}
    {#                                              transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "#}
    {#                                              x="4" y="11" width="16" height="2" rx="1"/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                            <div>#}
    {#                                <h6 class="mb-1">Chat List</h6>#}
    {#                                <p class="mb-0">Show All</p>#}
    {#                            </div>#}
    {#                            <a href="#">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <rect x="0" y="0" width="24" height="24"/>#}
    {#                                        <circle fill="#000000" cx="5" cy="12" r="2"/>#}
    {#                                        <circle fill="#000000" cx="12" cy="12" r="2"/>#}
    {#                                        <circle fill="#000000" cx="19" cy="12" r="2"/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="card-body contacts_body p-0 dz-scroll  " id="DZ_W_Contacts_Body">#}
    {#                            <ul class="contacts">#}
    {#                                <li class="name-first-letter">A</li>#}
    {#                                <li class="active dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/1.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Archie Parker</span>#}
    {#                                            <p>Kalid is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/2.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Alfie Mason</span>#}
    {#                                            <p>Taherah left 7 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/3.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>AharlieKane</span>#}
    {#                                            <p>Sami is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/4.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Athan Jacoby</span>#}
    {#                                            <p>Nargis left 30 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="name-first-letter">B</li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/5.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Bashid Samim</span>#}
    {#                                            <p>Rashid left 50 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/1.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Breddie Ronan</span>#}
    {#                                            <p>Kalid is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/2.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Ceorge Carson</span>#}
    {#                                            <p>Taherah left 7 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="name-first-letter">D</li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/3.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Darry Parker</span>#}
    {#                                            <p>Sami is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/4.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Denry Hunter</span>#}
    {#                                            <p>Nargis left 30 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="name-first-letter">J</li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/5.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Jack Ronan</span>#}
    {#                                            <p>Rashid left 50 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/1.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Jacob Tucker</span>#}
    {#                                            <p>Kalid is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/2.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>James Logan</span>#}
    {#                                            <p>Taherah left 7 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/3.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Joshua Weston</span>#}
    {#                                            <p>Sami is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="name-first-letter">O</li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/4.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Oliver Acker</span>#}
    {#                                            <p>Nargis left 30 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="dz-chat-user">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont">#}
    {#                                            <img src="../core/static/images/avatar/5.jpg"#}
    {#                                                 class="rounded-circle user_img" alt=""/>#}
    {#                                            <span class="online_icon offline"></span>#}
    {#                                        </div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Oscar Weston</span>#}
    {#                                            <p>Rashid left 50 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                            </ul>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="card chat dz-chat-history-box d-none">#}
    {#                        <div class="card-header chat-list-header text-center">#}
    {#                            <a href="#" class="dz-chat-history-back">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <polygon points="0 0 24 0 24 24 0 24"/>#}
    {#                                        <rect fill="#000000" opacity="0.3"#}
    {#                                              transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) "#}
    {#                                              x="14" y="7" width="2" height="10" rx="1"/>#}
    {#                                        <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z"#}
    {#                                              fill="#000000" fill-rule="nonzero"#}
    {#                                              transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) "/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                            <div>#}
    {#                                <h6 class="mb-1">Chat with Khelesh</h6>#}
    {#                                <p class="mb-0 text-success">Online</p>#}
    {#                            </div>#}
    {#                            <div class="dropdown">#}
    {#                                <a href="#" data-toggle="dropdown" aria-expanded="false">#}
    {#                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                         width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                            <rect x="0" y="0" width="24" height="24"/>#}
    {#                                            <circle fill="#000000" cx="5" cy="12" r="2"/>#}
    {#                                            <circle fill="#000000" cx="12" cy="12" r="2"/>#}
    {#                                            <circle fill="#000000" cx="19" cy="12" r="2"/>#}
    {#                                        </g>#}
    {#                                    </svg>#}
    {#                                </a>#}
    {#                                <ul class="dropdown-menu dropdown-menu-right">#}
    {#                                    <li class="dropdown-item"><i class="fa fa-user-circle text-primary mr-2"></i> View#}
    {#                                        profile#}
    {#                                    </li>#}
    {#                                    <li class="dropdown-item"><i class="fa fa-users text-primary mr-2"></i> Add to close#}
    {#                                        friends#}
    {#                                    </li>#}
    {#                                    <li class="dropdown-item"><i class="fa fa-plus text-primary mr-2"></i> Add to group#}
    {#                                    </li>#}
    {#                                    <li class="dropdown-item"><i class="fa fa-ban text-primary mr-2"></i> Block</li>#}
    {#                                </ul>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="card-body msg_card_body dz-scroll" id="DZ_W_Contacts_Body3">#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    Hi, how are you samim?#}
    {#                                    <span class="msg_time">8:40 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-end mb-4">#}
    {#                                <div class="msg_cotainer_send">#}
    {#                                    Hi Khalid i am good tnx how about you?#}
    {#                                    <span class="msg_time_send">8:55 AM, Today</span>#}
    {#                                </div>#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/2.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    I am good too, thank you for your chat template#}
    {#                                    <span class="msg_time">9:00 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-end mb-4">#}
    {#                                <div class="msg_cotainer_send">#}
    {#                                    You are welcome#}
    {#                                    <span class="msg_time_send">9:05 AM, Today</span>#}
    {#                                </div>#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/2.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    I am looking for your next templates#}
    {#                                    <span class="msg_time">9:07 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-end mb-4">#}
    {#                                <div class="msg_cotainer_send">#}
    {#                                    Ok, thank you have a good day#}
    {#                                    <span class="msg_time_send">9:10 AM, Today</span>#}
    {#                                </div>#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/2.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    Bye, see you#}
    {#                                    <span class="msg_time">9:12 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    Hi, how are you samim?#}
    {#                                    <span class="msg_time">8:40 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-end mb-4">#}
    {#                                <div class="msg_cotainer_send">#}
    {#                                    Hi Khalid i am good tnx how about you?#}
    {#                                    <span class="msg_time_send">8:55 AM, Today</span>#}
    {#                                </div>#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/2.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    I am good too, thank you for your chat template#}
    {#                                    <span class="msg_time">9:00 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-end mb-4">#}
    {#                                <div class="msg_cotainer_send">#}
    {#                                    You are welcome#}
    {#                                    <span class="msg_time_send">9:05 AM, Today</span>#}
    {#                                </div>#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/2.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    I am looking for your next templates#}
    {#                                    <span class="msg_time">9:07 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-end mb-4">#}
    {#                                <div class="msg_cotainer_send">#}
    {#                                    Ok, thank you have a good day#}
    {#                                    <span class="msg_time_send">9:10 AM, Today</span>#}
    {#                                </div>#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/2.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="d-flex justify-content-start mb-4">#}
    {#                                <div class="img_cont_msg">#}
    {#                                    <img src="../core/static/images/avatar/1.jpg" class="rounded-circle user_img_msg"#}
    {#                                         alt=""/>#}
    {#                                </div>#}
    {#                                <div class="msg_cotainer">#}
    {#                                    Bye, see you#}
    {#                                    <span class="msg_time">9:12 AM, Today</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="card-footer type_msg">#}
    {#                            <div class="input-group">#}
    {#                                <textarea class="form-control" placeholder="Type your message..."></textarea>#}
    {#                                <div class="input-group-append">#}
    {#                                    <button type="button" class="btn btn-primary"><i class="fa fa-location-arrow"></i>#}
    {#                                    </button>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="tab-pane fade" id="alerts" role="tabpanel">#}
    {#                    <div class="card mb-sm-3 mb-md-0 contacts_card">#}
    {#                        <div class="card-header chat-list-header text-center">#}
    {#                            <a href="#">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <rect x="0" y="0" width="24" height="24"/>#}
    {#                                        <circle fill="#000000" cx="5" cy="12" r="2"/>#}
    {#                                        <circle fill="#000000" cx="12" cy="12" r="2"/>#}
    {#                                        <circle fill="#000000" cx="19" cy="12" r="2"/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                            <div>#}
    {#                                <h6 class="mb-1">Notications</h6>#}
    {#                                <p class="mb-0">Show All</p>#}
    {#                            </div>#}
    {#                            <a href="#">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <rect x="0" y="0" width="24" height="24"/>#}
    {#                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"#}
    {#                                              fill="#000000" fill-rule="nonzero" opacity="0.3"/>#}
    {#                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"#}
    {#                                              fill="#000000" fill-rule="nonzero"/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body1">#}
    {#                            <ul class="contacts">#}
    {#                                <li class="name-first-letter">SEVER STATUS</li>#}
    {#                                <li class="active">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont primary">KK</div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>David Nester Birthday</span>#}
    {#                                            <p class="text-primary">Today</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="name-first-letter">SOCIAL</li>#}
    {#                                <li>#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont success">RU<i class="icon fa-birthday-cake"></i></div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Perfection Simplified</span>#}
    {#                                            <p>Jame Smith commented on your status</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li class="name-first-letter">SEVER STATUS</li>#}
    {#                                <li>#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont primary">AU<i class="icon fa fa-user-plus"></i></div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>AharlieKane</span>#}
    {#                                            <p>Sami is online</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li>#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="img_cont info">MO<i class="icon fa fa-user-plus"></i></div>#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Athan Jacoby</span>#}
    {#                                            <p>Nargis left 30 mins ago</p>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                            </ul>#}
    {#                        </div>#}
    {#                        <div class="card-footer"></div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="tab-pane fade" id="notes">#}
    {#                    <div class="card mb-sm-3 mb-md-0 note_card">#}
    {#                        <div class="card-header chat-list-header text-center">#}
    {#                            <a href="#">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>#}
    {#                                        <rect fill="#000000" opacity="0.3"#}
    {#                                              transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "#}
    {#                                              x="4" y="11" width="16" height="2" rx="1"/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                            <div>#}
    {#                                <h6 class="mb-1">Notes</h6>#}
    {#                                <p class="mb-0">Add New Nots</p>#}
    {#                            </div>#}
    {#                            <a href="#">#}
    {#                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
    {#                                     width="18px" height="18px" viewBox="0 0 24 24" version="1.1">#}
    {#                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
    {#                                        <rect x="0" y="0" width="24" height="24"/>#}
    {#                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"#}
    {#                                              fill="#000000" fill-rule="nonzero" opacity="0.3"/>#}
    {#                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"#}
    {#                                              fill="#000000" fill-rule="nonzero"/>#}
    {#                                    </g>#}
    {#                                </svg>#}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body2">#}
    {#                            <ul class="contacts">#}
    {#                                <li class="active">#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="user_info">#}
    {#                                            <span>New order placed..</span>#}
    {#                                            <p>10 Aug 2020</p>#}
    {#                                        </div>#}
    {#                                        <div class="ml-auto">#}
    {#                                            <a href="#" class="btn btn-primary btn-xs sharp mr-1"><i#}
    {#                                                    class="fa fa-pencil"></i></a>#}
    {#                                            <a href="#" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li>#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Youtube, a video-sharing website..</span>#}
    {#                                            <p>10 Aug 2020</p>#}
    {#                                        </div>#}
    {#                                        <div class="ml-auto">#}
    {#                                            <a href="#" class="btn btn-primary btn-xs sharp mr-1"><i#}
    {#                                                    class="fa fa-pencil"></i></a>#}
    {#                                            <a href="#" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li>#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="user_info">#}
    {#                                            <span>john just buy your product..</span>#}
    {#                                            <p>10 Aug 2020</p>#}
    {#                                        </div>#}
    {#                                        <div class="ml-auto">#}
    {#                                            <a href="#" class="btn btn-primary btn-xs sharp mr-1"><i#}
    {#                                                    class="fa fa-pencil"></i></a>#}
    {#                                            <a href="#" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                                <li>#}
    {#                                    <div class="d-flex bd-highlight">#}
    {#                                        <div class="user_info">#}
    {#                                            <span>Athan Jacoby</span>#}
    {#                                            <p>10 Aug 2020</p>#}
    {#                                        </div>#}
    {#                                        <div class="ml-auto">#}
    {#                                            <a href="#" class="btn btn-primary btn-xs sharp mr-1"><i#}
    {#                                                    class="fa fa-pencil"></i></a>#}
    {#                                            <a href="#" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </li>#}
    {#                            </ul>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <!--**********************************
        Chat box End
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        {#                        <div class="search_bar dropdown">#}
                        {#                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">#}
                        {#                                    <i class="mdi mdi-magnify"></i>#}
                        {#                                </span>#}
                        {#                            <div class="dropdown-menu p-0 m-0">#}
                        {#                                <form>#}
                        {#                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">#}
                        {#                                </form>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>

                    <ul class="navbar-nav header-right">
                        {% if request.user.user_type != 'user' %}
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link">
                                    Баланс: {{ balance }} сум
                                </a>
                            </li>
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link">
                                    Оборотные средства: {{ turnover }} сум
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown notification_dropdown">
                            <a class="nav-link bell dz-fullscreen" href="#">
                                <svg id="icon-full" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor"
                                     stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                     class="css-i6dzq1">
                                    <path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path>
                                </svg>
                                <svg id="icon-minimize" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-minimize">
                                    <path d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3"></path>
                                </svg>
                            </a>
                        </li>
                        {% if request.user.user_type != 'user' %}
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link bell ai-icon" href="#" role="button" data-toggle="dropdown">
                                    <svg id="icon-user" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                    </svg>
                                    {% if messages %}
                                        <div class="pulse-css"></div>
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3"
                                         style="{% if not messages %}height:50px;{% else %}height:380px;{% endif %}">
                                        <ul class="timeline">
                                            {% for message in messages %}
                                                <li>
                                                    <div class="timeline-panel">
                                                        <div class="media-body">
                                                            <h6 class="mb-1">{{ message.title }}</h6>
                                                            <small class="d-block">{{ message.content }}</small>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            {% if not messages %}
                                                <h3 style="text-align: center; justify-content: center">Нету
                                                    уведомлений</h3>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <div class="header-info">
                                    <span><strong>{{ request.user.username }}</strong></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="./app-profile.html" class="dropdown-item ai-icon">
                                    <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary"
                                         width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                    <span class="ml-2">Profile </span>
                                </a>
                                <a href="./email-inbox.html" class="dropdown-item ai-icon">
                                    <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success"
                                         width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                        <polyline points="22,6 12,13 2,6"></polyline>
                                    </svg>
                                    <span class="ml-2">Inbox </span>
                                </a>
                                <a href="./page-login.html" class="dropdown-item ai-icon">
                                    <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger"
                                         width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                        <polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line>
                                    </svg>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown notification_dropdown">
                            <a class="btn btn-danger" href="{% url 'logout' %}">
                                Выйти
                            </a>
                        </li>
                        {#                        <li class="nav-item right-sidebar">#}
                        {#                            <a class="nav-link bell ai-icon" href="#">#}
                        {#                                <svg id="icon-menu" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"#}
                        {#                                     stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"#}
                        {#                                     class="css-i6dzq1">#}
                        {#                                    <rect x="3" y="3" width="7" height="7"></rect>#}
                        {#                                    <rect x="14" y="3" width="7" height="7"></rect>#}
                        {#                                    <rect x="14" y="14" width="7" height="7"></rect>#}
                        {#                                    <rect x="3" y="14" width="7" height="7"></rect>#}
                        {#                                </svg>#}
                        {#                            </a>#}
                        {#                        </li>#}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="deznav">
        <div class="deznav-scroll">

            <ul class="metismenu" id="menu">
                {% if request.user.user_type == 'admin' or request.user.user_type == 'product_manager' %}
                    <li class="nav-label first">Товары</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                             height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"/>
                                <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                      fill="#000000" opacity="0.3"/>
                            </g>
                        </svg>
                        <span class="nav-text">Товары</span>
                    </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'products' %}" style="{% if theme != 'dark' %}color: black;{% endif %}">Товары</a>
                            </li>
                            <li><a href="{% url 'warehouse' %}" style="{% if theme != 'dark' %}color: black;{% endif %}"
                                   aria-expanded="false">Склады</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.user_type != 'user' %}
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                             height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <polygon fill="#000000" opacity="0.3" points="5 7 5 15 19 15 19 7"/>
                                <path d="M11,19 L11,16 C11,15.4477153 11.4477153,15 12,15 C12.5522847,15 13,15.4477153 13,16 L13,19 L14.5,19 C14.7761424,19 15,19.2238576 15,19.5 C15,19.7761424 14.7761424,20 14.5,20 L9.5,20 C9.22385763,20 9,19.7761424 9,19.5 C9,19.2238576 9.22385763,19 9.5,19 L11,19 Z"
                                      fill="#000000" opacity="0.3"/>
                                <path d="M5,7 L5,15 L19,15 L19,7 L5,7 Z M5.25,5 L18.75,5 C19.9926407,5 21,5.8954305 21,7 L21,15 C21,16.1045695 19.9926407,17 18.75,17 L5.25,17 C4.00735931,17 3,16.1045695 3,15 L3,7 C3,5.8954305 4.00735931,5 5.25,5 Z"
                                      fill="#000000" fill-rule="nonzero"/>
                            </g>
                        </svg>
                        <span class="nav-text" style="{% if theme != 'dark' %}color: black;{% endif %}">Касса</span>
                    </a>
                        <ul aria-expanded="false" class="mm-a">
                            {#                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>#}
                            {#                            <ul aria-expanded="false">#}
                            {#                                <li><a href="./email-compose.html">Compose</a></li>#}
                            {#                                <li><a href="./email-inbox.html">Inbox</a></li>#}
                            {#                                <li><a href="./email-read.html">Read</a></li>#}
                            {#                            </ul>#}
                            {#                        </li>#}
                            {% if cash %}
                                <li><a href="{% url 'cash' %}" style="{% if theme != 'dark' %}color: black;{% endif %}">Касса</a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'duty' %}" style="{% if theme != 'dark' %}color: black;{% endif %}">Смены</a>
                            </li>
                            <li><a class="has-arrow" aria-expanded="false"
                                   style="{% if theme != 'dark' %}color: black;{% endif %}">Расходы</a>
                                <ul aria-expanded="false"
                                    style="{% if theme == 'dark' %}background-color: #1e2746{% endif %}">
                                    <li><a href="{% url 'expenses_product' %}">Расходы на закупку </a></li>
                                    <li><a href="{% url 'expenses' %}">Доп. расходы</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                             height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z"
                                      fill="#000000" opacity="0.3"/>
                                <path d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z"
                                      fill="#000000"/>
                            </g>
                        </svg>
                        <span class="nav-text">Аналитика</span>
                    </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'product_analytic' %}"
                                   style="{% if theme != 'dark' %}color: black;{% endif %}">Отчет по товарам</a></li>
                            <li><a href="{% url 'user_analytic' %}"
                                   style="{% if theme != 'dark' %}color: black;{% endif %}">Отчет по сотрудникам</a>
                            </li>
                            <li><a href="{% url 'cashes' %}"
                                   style="{% if theme != 'dark' %}color: black;{% endif %}">Отчет по кассам</a>
                            </li>
                            {#                            <li><a class="" aria-expanded="false"#}
                            {#                                   style="{% if theme != 'dark' %}color: black;{% endif %}">Отчет по кассам</a>#}
                            {#                            </li>#}
                            <li><a href="{% url 'sales' %}"
                                   style="{% if theme != 'dark' %}color: black;{% endif %}">Продажи</a></li>
                            {#                        <li><a href="./chart-morris.html">Morris</a></li>#}
                            {#                        <li><a href="./chart-chartjs.html">Chartjs</a></li>#}
                            {#                        <li><a href="./chart-chartist.html">Chartist</a></li>#}
                            {#                        <li><a href="./chart-sparkline.html">Sparkline</a></li>#}
                            {#                        <li><a href="./chart-peity.html">Peity</a></li>#}
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-label">Моя компания</li>
                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                         height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                  fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"></rect>
                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"></rect>
                        </g>
                    </svg>
                    <span class="nav-text">Моя компания</span>
                </a>
                    {#                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">#}
                    {#                    #}
                    {#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
                    {#                         height="24px" viewBox="0 0 24 24" version="1.1">#}
                    {#                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                    {#                            <rect x="0" y="0" width="24" height="24"></rect>#}
                    {#                            <path d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z"#}
                    {#                                  fill="#000000"></path>#}
                    {#                            <path d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z"#}
                    {#                                  fill="#000000" opacity="0.3"></path>#}
                    {#                        </g>#}
                    {#                    </svg>#}
                    {#                    <span class="nav-text">Bootstrap</span>#}
                    {#                </a>#}
                    <ul aria-expanded="false">
                        <li><a href="{% url 'my_company' %}" style="{% if theme != 'dark' %}color: black;{% endif %}">Компания</a>
                        </li>
                        {#                        <li><a href="./ui-alert.html">Alert</a></li>#}
                        {#                        <li><a href="./ui-badge.html">Badge</a></li>#}
                        {#                        <li><a href="./ui-button.html">Button</a></li>#}
                        {#                        <li><a href="./ui-modal.html">Modal</a></li>#}
                        {#                        <li><a href="./ui-button-group.html">Button Group</a></li>#}
                        {#                        <li><a href="./ui-list-group.html">List Group</a></li>#}
                        {#                        <li><a href="./ui-media-object.html">Media Object</a></li>#}
                        {#                        <li><a href="./ui-card.html">Cards</a></li>#}
                        {#                        <li><a href="./ui-carousel.html">Carousel</a></li>#}
                        {#                        <li><a href="./ui-dropdown.html">Dropdown</a></li>#}
                        {#                        <li><a href="./ui-popover.html">Popover</a></li>#}
                        {#                        <li><a href="./ui-progressbar.html">Progressbar</a></li>#}
                        {#                        <li><a href="./ui-tab.html">Tab</a></li>#}
                        {#                        <li><a href="./ui-typography.html">Typography</a></li>#}
                        {#                        <li><a href="./ui-pagination.html">Pagination</a></li>#}
                        {#                        <li><a href="./ui-grid.html">Grid</a></li>#}

                    </ul>
                </li>

                {#                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">#}
                {#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
                {#                         height="24px" viewBox="0 0 24 24" version="1.1">#}
                {#                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                {#                            <rect x="0" y="0" width="24" height="24"></rect>#}
                {#                            <path d="M5.5,4 L9.5,4 C10.3284271,4 11,4.67157288 11,5.5 L11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L5.5,8 C4.67157288,8 4,7.32842712 4,6.5 L4,5.5 C4,4.67157288 4.67157288,4 5.5,4 Z M14.5,16 L18.5,16 C19.3284271,16 20,16.6715729 20,17.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,17.5 C13,16.6715729 13.6715729,16 14.5,16 Z"#}
                {#                                  fill="#000000"></path>#}
                {#                            <path d="M5.5,10 L9.5,10 C10.3284271,10 11,10.6715729 11,11.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,12.5 C20,13.3284271 19.3284271,14 18.5,14 L14.5,14 C13.6715729,14 13,13.3284271 13,12.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z"#}
                {#                                  fill="#000000" opacity="0.3"></path>#}
                {#                        </g>#}
                {#                    </svg>#}
                {#                    <span class="nav-text">Plugins</span>#}
                {#                </a>#}
                {#                    <ul aria-expanded="false">#}
                {#                        <li><a href="./uc-select2.html">Select 2</a></li>#}
                {#                        <li><a href="./uc-nestable.html">Nestedable</a></li>#}
                {#                        <li><a href="./uc-noui-slider.html">Noui Slider</a></li>#}
                {#                        <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>#}
                {#                        <li><a href="./uc-toastr.html">Toastr</a></li>#}
                {#                        <li><a href="./map-jqvmap.html">Jqv Map</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {#                <li><a href="widget-basic.html" class="ai-icon" aria-expanded="false">#}
                {#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
                {#                         height="24px" viewBox="0 0 24 24" version="1.1">#}
                {#                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                {#                            <polygon points="0 0 24 0 24 24 0 24"/>#}
                {#                            <path d="M22,15 L22,19 C22,20.1045695 21.1045695,21 20,21 L8,21 C5.790861,21 4,19.209139 4,17 C4,14.790861 5.790861,13 8,13 L20,13 C21.1045695,13 22,13.8954305 22,15 Z M7,19 C8.1045695,19 9,18.1045695 9,17 C9,15.8954305 8.1045695,15 7,15 C5.8954305,15 5,15.8954305 5,17 C5,18.1045695 5.8954305,19 7,19 Z"#}
                {#                                  fill="#000000" opacity="0.3"/>#}
                {#                            <path d="M15.5421357,5.69999981 L18.3705628,8.52842693 C19.1516114,9.30947552 19.1516114,10.5758055 18.3705628,11.3568541 L9.88528147,19.8421354 C8.3231843,21.4042326 5.79052439,21.4042326 4.22842722,19.8421354 C2.66633005,18.2800383 2.66633005,15.7473784 4.22842722,14.1852812 L12.7137086,5.69999981 C13.4947572,4.91895123 14.7610871,4.91895123 15.5421357,5.69999981 Z M7,19 C8.1045695,19 9,18.1045695 9,17 C9,15.8954305 8.1045695,15 7,15 C5.8954305,15 5,15.8954305 5,17 C5,18.1045695 5.8954305,19 7,19 Z"#}
                {#                                  fill="#000000" opacity="0.3"/>#}
                {#                            <path d="M5,3 L9,3 C10.1045695,3 11,3.8954305 11,5 L11,17 C11,19.209139 9.209139,21 7,21 C4.790861,21 3,19.209139 3,17 L3,5 C3,3.8954305 3.8954305,3 5,3 Z M7,19 C8.1045695,19 9,18.1045695 9,17 C9,15.8954305 8.1045695,15 7,15 C5.8954305,15 5,15.8954305 5,17 C5,18.1045695 5.8954305,19 7,19 Z"#}
                {#                                  fill="#000000"/>#}
                {#                        </g>#}
                {#                    </svg>#}
                {#                    <span class="nav-text">Widget</span>#}
                {#                </a></li>#}
                {#                <li class="nav-label">Forms</li>#}
                {#                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">#}
                {#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
                {#                         height="24px" viewBox="0 0 24 24" version="1.1">#}
                {#                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                {#                            <polygon points="0 0 24 0 24 24 0 24"/>#}
                {#                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"#}
                {#                                  fill="#000000" fill-rule="nonzero" opacity="0.3"/>#}
                {#                            <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"/>#}
                {#                            <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"/>#}
                {#                        </g>#}
                {#                    </svg>#}
                {#                    <span class="nav-text">Forms</span>#}
                {#                </a>#}
                {#                    <ul aria-expanded="false">#}
                {#                        <li><a href="./form-element.html">Form Elements</a></li>#}
                {#                        <li><a href="./form-wizard.html">Wizard</a></li>#}
                {#                        <li><a href="./form-editor-summernote.html">Summernote</a></li>#}
                {#                        <li><a href="form-pickers.html">Pickers</a></li>#}
                {#                        <li><a href="form-validation-jquery.html">Jquery Validate</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {#                <li class="nav-label">Table</li>#}
                {#                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">#}
                {#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
                {#                         height="24px" viewBox="0 0 24 24" version="1.1">#}
                {#                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                {#                            <rect x="0" y="0" width="24" height="24"/>#}
                {#                            <path d="M3,4 L20,4 C20.5522847,4 21,4.44771525 21,5 L21,7 C21,7.55228475 20.5522847,8 20,8 L3,8 C2.44771525,8 2,7.55228475 2,7 L2,5 C2,4.44771525 2.44771525,4 3,4 Z M3,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,13 C14,13.5522847 13.5522847,14 13,14 L3,14 C2.44771525,14 2,13.5522847 2,13 L2,11 C2,10.4477153 2.44771525,10 3,10 Z M3,16 L13,16 C13.5522847,16 14,16.4477153 14,17 L14,19 C14,19.5522847 13.5522847,20 13,20 L3,20 C2.44771525,20 2,19.5522847 2,19 L2,17 C2,16.4477153 2.44771525,16 3,16 Z"#}
                {#                                  fill="#000000"/>#}
                {#                            <rect fill="#000000" opacity="0.3" x="16" y="10" width="5" height="10" rx="1"/>#}
                {#                        </g>#}
                {#                    </svg>#}
                {#                    <span class="nav-text">Table</span>#}
                {#                </a>#}
                {#                    <ul aria-expanded="false">#}
                {#                        <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>#}
                {#                        <li><a href="table-datatable-basic.html">Datatable</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
                {##}
                {#                <li class="nav-label">Extra</li>#}
                {#                <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">#}
                {#                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
                {#                         height="24px" viewBox="0 0 24 24" version="1.1">#}
                {#                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                {#                            <rect x="0" y="0" width="24" height="24"></rect>#}
                {#                            <rect fill="#000000" opacity="0.3" x="4" y="4" width="8" height="16"></rect>#}
                {#                            <path d="M6,18 L9,18 C9.66666667,18.1143819 10,18.4477153 10,19 C10,19.5522847 9.66666667,19.8856181 9,20 L4,20 L4,15 C4,14.3333333 4.33333333,14 5,14 C5.66666667,14 6,14.3333333 6,15 L6,18 Z M18,18 L18,15 C18.1143819,14.3333333 18.4477153,14 19,14 C19.5522847,14 19.8856181,14.3333333 20,15 L20,20 L15,20 C14.3333333,20 14,19.6666667 14,19 C14,18.3333333 14.3333333,18 15,18 L18,18 Z M18,6 L15,6 C14.3333333,5.88561808 14,5.55228475 14,5 C14,4.44771525 14.3333333,4.11438192 15,4 L20,4 L20,9 C20,9.66666667 19.6666667,10 19,10 C18.3333333,10 18,9.66666667 18,9 L18,6 Z M6,6 L6,9 C5.88561808,9.66666667 5.55228475,10 5,10 C4.44771525,10 4.11438192,9.66666667 4,9 L4,4 L9,4 C9.66666667,4 10,4.33333333 10,5 C10,5.66666667 9.66666667,6 9,6 L6,6 Z"#}
                {#                                  fill="#000000" fill-rule="nonzero"></path>#}
                {#                        </g>#}
                {#                    </svg>#}
                {#                    <span class="nav-text">Pages</span>#}
                {#                </a>#}
                {#                    <ul aria-expanded="false">#}
                {#                        <li><a href="./page-register.html">Register</a></li>#}
                {#                        <li><a href="./page-login.html">Login</a></li>#}
                {#                        <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>#}
                {#                            <ul aria-expanded="false">#}
                {#                                <li><a href="./page-error-400.html">Error 400</a></li>#}
                {#                                <li><a href="./page-error-403.html">Error 403</a></li>#}
                {#                                <li><a href="./page-error-404.html">Error 404</a></li>#}
                {#                                <li><a href="./page-error-500.html">Error 500</a></li>#}
                {#                                <li><a href="./page-error-503.html">Error 503</a></li>#}
                {#                            </ul>#}
                {#                        </li>#}
                {#                        <li><a href="./page-lock-screen.html">Lock Screen</a></li>#}
                {#                    </ul>#}
                {#                </li>#}
            </ul>

        </div>


    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    {% block content %}
    {% endblock %}

    <!--**********************************
    Footer start
***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a>ItHub</a>
                2022</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->

    <!--**********************************
       Support ticket button start
    ***********************************-->

    <!--**********************************
       Support ticket button end
    ***********************************-->


</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static 'vendor/global/global.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>

<!-- Vectormap -->
<!-- Chart piety plugin files -->
<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>

<!-- Chartist -->
<script src="{% static 'vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
<!-- Dashboard 1 -->
<script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
<!-- Svganimation scripts -->
<script src="{% static 'vendor/svganimation/vivus.min.js' %}"></script>
<script src="{% static 'vendor/svganimation/svg.animation.js' %}"></script>


<script>
    (function ($) {
        "use strict"

        var direction = getUrlParams('dir');
        if (direction != 'rtl') {
            direction = 'ltr';
        }

        new dezSettings({
            typography: "roboto",
            version: "{{ theme }}",
            layout: "vertical",
            headerBg: "color_1",
            navheaderBg: "color_3",
            sidebarBg: "color_1",
            sidebarStyle: "mini",
            sidebarPosition: "fixed",
            headerPosition: "fixed",
            containerLayout: "wide",
            direction: direction
        });

    })(jQuery);
</script>
{% block extra_js %}
{% endblock %}
</body>
</html>